@font-face {
  font-family: 'FontAwesome';
  src: url('../assets/fonts/fontawesome/fontawesome-webfont.eot?v=4.0.3');
  src: url('../assets/fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../assets/fonts/fontawesome/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../assets/fonts/fontawesome/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../assets/fonts/fontawesome/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.header .navbar-inner {
  background-color: #DA587D !important;
}
.header .chat-toggler .user-details {
  color: white;
}
.iconset.top-settings-dark {
  background-position: -34px -6px;
}
.icon-custom-dashboard { 
    background: url('/static/img/mydashboard.png') no-repeat !important;
}
.icon-custom-paises { 
    background: url('/static/img/paises.png') no-repeat !important;
}
.icon-custom-gantz { 
    background: url('/static/img/ghants.png') no-repeat !important;
}
.icon-custom-sm { 
    background: url('/static/img/sm2015.png') no-repeat !important;
}
.icon-custom-reports {
    background: url('/static/img/reports.png') no-repeat !important;
}
.icon-custom-db { 
    background: url('/static/img/databases.png') no-repeat !important;
}
.icon-custom-db,
.icon-custom-sm,
.icon-custom-gantz,
.icon-custom-paises,
.icon-custom-dashboard,
.icon-custom-reports { 
    height: 28px;
    width: 25px !important;
}
.page-sidebar > ul > li .title {
  display: block;
  margin-left: 38px;
  margin-top: -30px;
}
.map-container {
    height: 400px;
}
#map-goals {
  height: 100%;
  margin: 0px;
  padding: 0px
}
body {
    background-color: #1A1A1A;
}

.graficos-triangulo td {
    padding: 10px;
}

.page-sidebar > ul > li > a {
    position: relative;
}
.page-sidebar ul > li > a > .arrow {
    position: absolute;
    right:10px;
    top: 15px;
}
.map-container img {
  max-width: initial;
}

/* FONT AWESOME */
.icon {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.icon-up:after {
  content: "\f077";
}
.icon-down:after {
  content: "\f078";
}
