.header .navbar-inner {
  background-color: #DA587D !important;
}
.header .chat-toggler .user-details {
  color: white;
}
.iconset.top-settings-dark {
  background-position: -34px -6px;
}
.icon-custom-dashboard { 
    background: url('/static/img/mydashboard.png') no-repeat !important;
}
.icon-custom-paises { 
    background: url('/static/img/paises.png') no-repeat !important;
}
.icon-custom-gantz { 
    background: url('/static/img/ghants.png') no-repeat !important;
}
.icon-custom-sm { 
    background: url('/static/img/sm2015.png') no-repeat !important;
}
.icon-custom-reports {
    background: url('/static/img/reports.png') no-repeat !important;
}
.icon-custom-db { 
    background: url('/static/img/databases.png') no-repeat !important;
}
.icon-custom-db,
.icon-custom-sm,
.icon-custom-gantz,
.icon-custom-paises,
.icon-custom-dashboard,
.icon-custom-reports { 
    height: 28px;
    width: 25px !important;
}
.page-sidebar > ul > li .title {
  display: block;
  margin-left: 38px;
  margin-top: -30px;
}
.map-container {
    height: 400px;
}
#map-goals {
  height: 100%;
  margin: 0px;
  padding: 0px
}
body {
    background-color: #1A1A1A;
}

.graficos-triangulo td {
    padding: 10px;
}

.page-sidebar > ul > li > a {
    position: relative;
}
.page-sidebar ul > li > a > .arrow {
    position: absolute;
    right:10px;
    top: 15px;
}
