.content-info-window {
    background: url('/static/img/country_details.png') no-repeat;
    height: 263px;
    width: 531px;
}
.content-info-window .arrow-container {
    background: url('/static/img/country_details_arrow.png') no-repeat;
    float:left;
    height: 37px;
    margin-top:90px;
    width: 18px;
}
.content-info-window .left-side {
    float: left;
    padding-left: 25px;
    padding-right: 20px;
    width: 267px;
}
.content-info-window .left-side .main-info {
    height: 175px;
    padding-top:10px;
}
.content-info-window .left-side .main-info .title-info {
    color: white;
    font-family: "Oswald";
    font-size: 30px;
}
.content-info-window .left-side .main-info .desc {
    color: #FFFFFF;
    font-family: "Arial";
    font-size: 14px;
    height: 125px;
    overflow-y: auto;
}
.content-info-window .left-side .more-info {
    color: #DB26B6;
    display: block;
    font-family: "Oswald";
    font-size: 16px;
    padding-top: 8px;
    text-transform: uppercase;
}
.content-info-window .right-side {
    float: left;
    height: 225px;
    padding-left: 15px;
    padding-top: 15px;
    width: 112px;
}
.content-info-window .right-side .statistics {}
.content-info-window .right-side .statistics .label-stats {
    color: #666;
    font-family: "Oswald";
    font-size: 30px;
}
.content-info-window .right-side .goal {
  color: #447744;
  font-family: "Oswald";
  font-size: 25px;
  padding-top: 15px;
  text-align: center;
}
.map-container {
  position: relative;
}
.map-container .menu-country {
  bottom: 0;
  min-height: 200px;
  padding-bottom: 15px;
  position: absolute;
  width: 100%;
}
.map-container .menu-country.closed {
  height: 0px;
}
.menu-country.closed .map-overlay {
  display: none;
}
.menu-country .map-overlay {
  background-color: black;
  height: 100%;
  position: absolute;
  opacity: 0.7;
  width: 100%;
}
.menu-country .map-infos-wrapper {
  border-top: 4px solid orange;
  color: white;
  padding: 20px 15px;
  position: relative;
}
.menu-country.closed .map-infos-wrapper  {
  height: 0px;
}
.menu-country.closed .map-infos-wrapper .columns {
  display: none;
}
.menu-country .map-infos-wrapper .columns {
  float: left;
  padding: 0 10px;
  width: 30%;
}
.menu-country .map-infos-wrapper .title {
  color: #aaa;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.menu-country .map-infos-wrapper .title strong {
  color: orange;
  padding: 0 10px;
}
.menu-country .map-infos-wrapper .subtitle {
  color: #aaa;
  font-size: 13px;
  font-weight: bold;
}
.menu-country .map-infos-wrapper .subtitle span {
  color: white;
  font-size: 12px;
}
.menu-country .icon:after {
  background: orange;
  border-radius: 16px;
  cursor: pointer;
  left: 50px;
  padding: 6px 7px;
  position: absolute;
  top: -16px;
}
.menu-country.closed .icon:after {
  top: -20px;
}
