{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8" />
<title>SM2015 - Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="" name="description" />
<meta content="" name="author" />

{% block css %}
<!-- BEGIN PLUGIN CSS -->
<link href="{% static "assets/plugins/fullcalendar/fullcalendar.css" %}" rel="stylesheet" type="text/css" media="screen"/>


<link href="{% static "assets/plugins/pace/pace-theme-flash.css" %}" rel="stylesheet" type="text/css" media="screen"/>
<link href="{% static "assets/plugins/gritter/css/jquery.gritter.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/plugins/bootstrap-datepicker/css/datepicker.css" %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static "assets/plugins/jquery-ricksaw-chart/css/rickshaw.css" %}" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="{% static "assets/plugins/jquery-morris-chart/css/morris.css" %}" type="text/css" media="screen" charset="utf-8">
<link href="{% static "assets/plugins/jquery-slider/css/jquery.sidr.light.css" %}" rel="stylesheet" type="text/css" media="screen"/>
<link href="{% static "assets/plugins/bootstrap-select2/select2.css" %}" rel="stylesheet" type="text/css" media="screen"/>
<link href="{% static "assets/plugins/jquery-jvectormap/css/jquery-jvectormap-1.2.2.css" %}" rel="stylesheet" type="text/css" media="screen"/>
<link href="{% static "assets/plugins/boostrap-checkbox/css/bootstrap-checkbox.css" %}" rel="stylesheet" type="text/css" media="screen"/>
<link href="{% static "assets/plugins/jquery-datatable/css/jquery.dataTables.css" %}" rel="stylesheet" type="text/css"/>
<!-- END PLUGIN CSS -->

<!-- BEGIN CORE CSS FRAMEWORK -->
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/plugins/bootstrap/css/bootstrap-responsive.min.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/plugins/font-awesome/css/font-awesome.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/css/animate.min.css" %}" rel="stylesheet" type="text/css"/>
<!-- END CORE CSS FRAMEWORK -->

<!-- BEGIN CSS TEMPLATE -->
<link href="{% static "assets/css/style.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/css/responsive.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "assets/css/custom-icon-set.css" %}" rel="stylesheet" type="text/css"/>
<!-- END CSS TEMPLATE -->

<link href="{% static "css/custom-sm2012.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "css/maps-custom.css" %}" rel="stylesheet" type="text/css"/>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<style>
    .lang-container {
        float: left;
        margin-right: 45px;
        margin-top: 8px;
    }
    .header .lang-container a {
        color: #EEEEEE;
        display: inline-block;
        font-size: 12px;
    }
    .header .lang-container a:hover {
        color: white;
    }
    .lang-container .separator {
        color: #EEE;
        float: left;
        margin: 0 5px;
    }

    .showModalHelp {
      background: none repeat scroll 0 0 #ABABAB !important;
      border: medium none;
      border-radius: 4px;
      color: #FFFFFF !important;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      padding: 1px 6px 5px;
      top: -5px;
    }
    .map-container .showModalHelp {
      background: black !important;
      border-radius: 20px;
      font-size: 21px;
      display: block;
      opacity: 0.5;
      padding: 0px 10px;
    }
    .showModalHelp.outside {
      background: none !important;
      border: 1px solid #CCCCCC;
      border-radius: 24px;
      color: #AAAAAA !important;
      font-size: 17px;
      font-weight: bold;
      margin: 0 20px;
      padding: 2px 11px;
      top: 0;
    }
    .showModalHelp .content {
      display: none;
    }
    #modalWrapper {
      display: none;
    }
    #modalWrapper .overlay {
      background: black;
      opacity: 0.5;
      height: 100%;
      position: fixed;
      width: 100%;
      z-index: 2;
    }
    #modal {
      background: none repeat scroll 0 0 #FFFFFF;
      left: 50%;
      margin-left: -200px;
      padding: 20px 50px;
      position: fixed;
      top: 20%;
      width: 400px;
      z-index: 100;
    }
    #modal .modalTitle {
      border: 1px solid #DDDDDD;
      border-radius: 16px;
      color: #AAAAAA;
      float: left;
      padding: 1px 11px;
    }
    #modalClose {
      color: #999999;
      cursor: pointer;
      float: right;
      font-size: 14px;
      font-weight: lighter;
    }
</style>
{% endblock css %}

{% block js_top %}
<script>
  CURRENT_LANGUAGE = "{{CURRENT_LANGUAGE}}";
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="{% static "js/infobox.js" %}"></script> 
<script src="{% static "js/thousand_separator.js" %}"></script> 
<script src="{% static "assets/plugins/jquery-1.8.3.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/DataTables/jquery.dataTables.js" %}" type="text/javascript"></script>
<script src="{% static "js/DataTables/jquery.jeditable.mini.js" %}" type="text/javascript"></script>
<script>
  $().ready(function(){
      var window_pathname = window.location.pathname,
          $main_menu = $("#main-menu"),
          $item_menu;

      if(window_pathname == '/'){
        $main_menu.find(".start:first").addClass("active");
      } else {
        if(window_pathname.slice(-1) == '/'){
          window_pathname = window_pathname.slice(0, -1);
        }

        $item_menu = $main_menu.find("a[href='"+window_pathname+"']");
        if($item_menu.length == 0){
          $item_menu = $main_menu.find("a[href='"+window_pathname+"/']");

          if($item_menu.length == 0){
            $item_menu = $main_menu.find("a[href^='"+window_pathname+"']");

            if($item_menu.length == 0){
              $item_menu = $main_menu.find("a[href^='"+window_pathname+"/']");
            }
          }
        }

        if($item_menu){
          var $parent_item = $item_menu.parents(".start")
          $parent_item.addClass("active");
          if($parent_item.hasClass("with-submenu")){
            $parent_item.addClass("open");
            $parent_item.find(".arrow").addClass("open");
          }
        }
      }

      $("a.showModalHelp").live('click', function(){
        var helpHtml = $(this).find('.content').html();
        $("#modal").find('.content').html(helpHtml);
        $("#modalWrapper").show();
      });
      $("#modalClose").click(function(){
        $("#modalWrapper").hide();    
      });
  });
</script>
{% endblock js_top %}

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class="">
<div id="modalWrapper">
  <div class="overlay"></div>
  <div id="modal">
    <div class="modalHeader clearfix">
      <h3 class="modalTitle">?</h3>
      <a id="modalClose">X</a>
    </div>
    <div class="content"></div>
  </div>
</div>

<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse "> 
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
    <div class="header-seperation"> 
        <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">	
         <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu"  class="" > <div class="iconset top-menu-toggle-white"></div> </a> </li>		 
        </ul>
      <!-- BEGIN LOGO -->	
      <a href="#"><img src="{% static "img/sm2015_tablero_logo.png" %}" class="logo"  data-src="{% static "img/sm2015_tablero_logo.png" %}" data-src-retina="{% static "img/sm2015_tablero_logo.png" %}" width="165"/></a>
      <!-- END LOGO --> 
      <ul class="nav pull-right notifcation-center">	
        <li class="dropdown" id="header_task_bar"> <a href="/" class="dropdown-toggle active" data-toggle=""> <div class="iconset top-home"></div> </a> </li>
      </ul>
      </div>
      <!-- END RESPONSIVE MENU TOGGLER --> 
      <div class="header-quick-nav" > 
      <!-- BEGIN TOP NAVIGATION MENU -->
      <div class="pull-left"> 
          <ul class="nav quick-section">
            <li class="quicklinks"> <a href="#" class="" id="layout-condensed-toggle" ><div class="iconset top-menu-toggle-white"></div> </a> </li>        
          </ul>
          <ul class="nav quick-section">
            <div class="input-prepend inside search-form no-boarder">
                <span class="add-on"> <a href="#" class="" ><div class="iconset top-search"></div></a></span>
                 <input name="" type="text"  class="no-boarder " placeholder="Search Dashboard" style="width:250px;">
            </div>
          </ul>
      </div>
     <!-- END TOP NAVIGATION MENU -->
     <!-- BEGIN CHAT TOGGLER -->
      <div class="pull-right"> 
        <div class="chat-toggler">

            {% include 'change_language.html' %}
            <a href="#" class="dropdown-toggle" id="my-task-list">
                <div class="user-details">
                    <div class="username">
                        {% trans "Hola" %}, <span class="bold">{{user.first_name}}</span>
                    </div>
                </div>
            </a>						
        </div>
        <ul class="nav quick-section ">
            <li class="quicklinks"> 
            <a data-toggle="dropdown" class="dropdown-toggle  pull-right" href="#">
                    <div class="iconset top-settings-dark"></div>
                </a>
                <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="dropdownMenu">
                  <li class="divider"></li>                
                  <li><a href="{% url 'change_password' %}">Change Password</a></li>
                  <li class="divider"></li>                
                  <li><a href="{% url 'dashboard_logout' %}"><i class="icon-off"></i>&nbsp;&nbsp;Log Out</a></li>

               </ul>
            </li> 
        </ul>
      </div>
       <!-- END CHAT TOGGLER -->
      </div> 
      <!-- END TOP NAVIGATION MENU --> 
   
  </div>
  <!-- END TOP NAVIGATION BAR --> 
</div>
</div>
<!-- END HEADER --> 
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid"> 
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar" id="main-menu"> 
  
  <!-- BEGIN MINI-WIGETS -->

   <!-- END MINI-WIGETS -->
   
   <!-- BEGIN SIDEBAR MENU -->	
    <ul>	
      <li class="start"> <a href="{% url 'index' %}" class="clearfix"> <i class="icon-custom-dashboard"></i> <span class="title">{% trans "Mi Tablero" %}</span></a> </li>
      <li class="start with-submenu"><a href="#"><i class="icon-custom-paises"></i> <span class="title">{% trans "Paises" %}</span> <span class="arrow "></a>
        <ul class="sub-menu">
          <li> <a href="{% url 'countries' %}">Overview</a> </li>
          <li> <a href="{% url 'country' %}?country={{COUNTRIES.belize.id}}&country_slug={{COUNTRIES.belize.slug}}">Belize</a> </li>
          <li> <a href="{% url 'country' %}?country={{COUNTRIES.mexico.id}}&country_slug={{COUNTRIES.mexico.slug}}">Chiapas (Mexico)</a> </li>
          <li> <a href="{% url 'country' %}?country={{COUNTRIES.costa_rica.id}}&country_slug={{COUNTRIES.costa_rica.slug}}">Costa Rica</a> </li>
          <li> <a href="{% url 'country' %}?country={{COUNTRIES.el_salvador.id}}&country_slug={{COUNTRIES.el_salvador.slug}}">El Salvador</a> </li>
          <li> <a href="{% url 'country' %}?country={{COUNTRIES.guatemala.id}}&country_slug={{COUNTRIES.guatemala.slug}}">Guatemala</a> </li>
          <li> <a href="{% url 'country' %}?country={{COUNTRIES.honduras.id}}&country_slug={{COUNTRIES.honduras.slug}}">Honduras</a> </li>
          <li> <a href="{% url 'country' %}?country={{COUNTRIES.nicaragua.id}}&country_slug={{COUNTRIES.nicaragua.slug}}">Nicaragua</a> </li>
          <li> <a href="{% url 'country' %}?country={{COUNTRIES.panama.id}}&country_slug={{COUNTRIES.panama.slug}}">Panama</a> </li>
        </ul>
      </li>
      <li class="start with-submenu"><a href="#"><i class="icon-custom-paises"></i> <span class="title">{% trans "Detalles del País" %}</span> <span class="arrow "></a>
        <ul class="sub-menu">
          <li> <a href="{% url 'country_details' %}?country={{COUNTRIES.mexico.id}}&country_slug={{COUNTRIES.mexico.slug}}">Chiapas (Mexico)</a> </li>
        </ul>
      </li>
      <li class="start"><a href="{% url 'metas_sm2015' %}"><i class="icon-custom-reports"></i> <span class="title">{% trans "Metas SM2015" %}</span></a></li>
      <li class="start"><a href="{% url 'grants_finances' %}"> <i class="icon-custom-gantz"></i> <span class="title">{% trans "Financiación" %}</span></a> </li>
      <!--<li class="start"><a href="#"><i class="icon-custom-sm"></i> <span class="title">{% trans "SM2015" %}</span></a> </li>-->
      <!--<li class="start"><a href="#"><i class="icon-custom-reports"></i> <span class="title">{% trans "Informes" %}</span></a> </li>-->
      <li class="start with-submenu"><a href="#"><i class="icon-custom-db"></i> <span class="title">{% trans "Base de datos" %}</span> <span class="arrow "></span></a>
        <ul class="sub-menu">
          <li> <a href="{% url 'hitos_e_avances' %}">{% trans "Ejecución Financiera y Hitos" %}</a> </li>
          <li> <a href="{% url 'ucmilestone' %}">{% trans "Unidad de Coordinación Hitos" %}</a> </li>
          <li> <a href="{% url 'sm2015milestone' %}">{% trans "SM2015 Hitos" %}</a> </li>
          <li> <a href="{% url 'grants_finances_editable' %}">{% trans "Rendimiento por Desembolso" %}</a> </li>
          <li> <a href="{% url 'life_save' %}">LiST</a> </li>
          <li> <a href="{% url 'country_operation' %}">{% trans "País Operación" %}</a> </li>
        </ul>
      </li>

    <a href="#" class="scrollup">Scroll</a>
    <div class="clearfix"></div>
    <!-- END SIDEBAR MENU --> 
  </div>
  <!-- END SIDEBAR --> 
  <!-- BEGIN PAGE CONTAINER-->
  <div class="page-content"> 
    {% block content %}{% endblock content %}
  </div>  
</div>
<!-- END CONTAINER --> 

{% block js_bottom %}
<!-- BEGIN CORE JS FRAMEWORK--> 

<script src="{% static "assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" %}" type="text/javascript"></script> 
<script src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script> 
<script src="{% static "assets/plugins/breakpoints.js" %}" type="text/javascript"></script> 
<script src="{% static "assets/plugins/jquery-unveil/jquery.unveil.min.js" %}" type="text/javascript"></script> 
<script src="{% static "assets/plugins/jquery-block-ui/jqueryblockui.js" %}" type="text/javascript"></script> 
<!-- END CORE JS FRAMEWORK --> 
<!--[if lt IE 9]>
    <script src="assets/plugins/excanvas.js"></script>
    <script src="assets/plugins/respond.js"></script>	
    <![endif]--> 

<!-- BEGIN PAGE LEVEL JS --> 
<script src="{% static "assets/plugins/pace/pace.min.js" %}" type="text/javascript"></script>  
<script src="{% static "assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" %}" type="text/javascript"></script> 
<script src="{% static "assets/plugins/jquery-slider/jquery.sidr.min.js" %}" type="text/javascript"></script> 	
<script src="{% static "assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js" %}" type="text/javascript"></script> 
<script src="{% static "assets/plugins/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js" %}" type="text/javascript"></script> 	
<script src="{% static "assets/plugins/jquery-jvectormap/js/jquery-jvectormap-world-mill-en.js" %}" type="text/javascript"></script> 	
<!--<script src="assets/plugins/skycons/skycons.js"></script>-->
<!-- END PAGE LEVEL PLUGINS --> 	
<!-- PAGE JS --> 	
<script src="{% static "assets/js/vector_maps.js" %}" type="text/javascript"></script>
<!-- BEGIN CORE TEMPLATE JS --> 
<script src="{% static "assets/js/core.js" %}" type="text/javascript"></script> 
<script src="{% static "assets/js/demo.js" %}" type="text/javascript"></script> 
<!-- END CORE TEMPLATE JS --> 

<script>
    $().ready(function(){
        $(".change-lang").click(function(event){
            event.preventDefault();
            var lang = $(this).attr("name");
            $(".lang-name").val(lang);
            $(".form-change-lang").submit();
        });
    });
</script>
{% endblock js_bottom %}
</body>
</html>
