{% extends 'base_logado.html' %}

{% block content %}
<div class="content">
  <div class="page-title"> <i class="icon-custom-left"></i>
    <h3>Change your <span class="semi-bold">Password</span></h3>
  </div>
  <!-- BEGIN BASIC FORM ELEMENTS-->
    <div class="row-fluid">
        <div class="span12">
          <div class="grid simple">
            <div class="grid-title no-border">
              <h4></h4>
              <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body no-border"> <br>
              <form action="{% url "change_password" %}" method="post">
                {% csrf_token %}
                <div class="row-fluid">
                  {% if form.errors.invalid %}
                  <div class="control-group span10" style="color:red">
                    {{form.errors.invalid}}
                  </div>
                  {% else %}
                  <div class="control-group span10" style="color:blue">
                    {{form.errors.success}}
                  </div>
                  {% endif %}
                </div>

                <div class="row-fluid">
                  <div class="span8">
                    <div class="control-group">
                      <label class="control-label">Old Password</label>
                      <span class="help"></span>
                      <div class="controls">
                        <input type="password" name="old_password" id="txtoldpassword" class="span12">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">New Password</label>
                      <span class="help"></span>
                      <div class="controls">
                        <input type="password" name="new_password" id="txtnewpassword" class="span12">                                 
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">New Password Confirmation</label>
                      <span class="help"></span>
                      <div class="controls">
                        <input type="password" name="new_password_conf" id="txtnewpassword" class="span12">                                 
                      </div>
                    </div>
                    <div class="row-fluid">
                      <input class="btn btn-primary btn-cons pull-right" value="Change" type="submit" />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
<!-- END BASIC FORM ELEMENTS-->	 
</div>

{% endblock content %}
