{% extends 'base_logado.html' %}
{% load staticfiles %}

{% block css %}
    {{block.super}}
    <style>
    .gmnoprint img {
        max-width: none;
    }

    .Jdb {
        float: left;
        width: 550px;
    }

    div,form {
        margin: 2;
        padding: 2;
        outline-style: none;
    }

    div {
        display: block;
    }

    .Zm {
        border-collapse: collapse;
    }

    table {
        border-collapse: separate;
        border-spacing: 2px;
    }

    body {
        font-family: arial, sans-serif;
        font-size: 82%;
    }

    .gc {
        border-collapse: collapse;
        font-size: 98%;
        margin-bottom: 7px;
        /*table-layout: fixed;*/
        table-layout: auto;
        width: 550px;
    }

    .gc {
        border-collapse: collapse;
        font-size: 98%;
    }

    table {
        display: table;
        border-collapse: separate;
        border-spacing: 2px;
        border-color: gray;
    }

    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }

    .gc tr.xdb {
        background-color: #F8F8F8;
    }

    .gc td.AK {
        text-align: right;
        vertical-align: middle;
        width: 3px;
    }

    .gc tr td {
        padding: 8px 8px 7px;
    }

    .gc td {
        border-bottom: 1px solid #CBCBCB;
        padding: 0.4em;
        text-align: center;
    }

    .gc {
        border-collapse: collapse;
        font-size: 98%;
    }

    .gc td.JE {
        text-align: left;
    }

    .yq.meb {
        color: #058DC7;
    }

    .highlight {
        color: #058DC7;
        width: 390px;
        font-weight: bold;
    }

    .yq {
        word-break: break-all;
        word-wrap: break-word;
        -ms-word-wrap: break-word;
        -ms-word-break: break-all;
    }

    div,form {
        margin: 0;
        padding: 0;
        outline-style: none;
    }

    div,form {
        margin: 0;
        padding: 0;
        outline-style: none;
    }

    .gc .Vr {
        text-align: right;
        width: 60px;
    }

    .gc .g4 {
        white-space: nowrap;
    }

    .gc .Cw {
        text-align: left;
        width: 150px;
    }

    td,th {
        display: table-cell;
        vertical-align: inherit;
    }

    .gc tr:first-child th {
        border-bottom: 1px solid gray;
        color: black;
        font-weight: bold;
        padding: 12px 8px 3px;
    }

    .gc th.uE {
        text-align: left;
    }

    .e {
        cursor: pointer;
        color: #005C9C;
    }

    a,a:visited,.e {
        color: #005C9C;
    }

    .Q3 {
        text-align: right;
    }

    div,form {
        margin: 0;
        padding: 0;
        outline-style: none;
    }

    .gc div.PT {
        background-color: #058DC7;
        display: inline;
        float: left;
        height: 1.17em;
        margin: 0 10px 0 0;
        min-width: 1px;
    }

    .hm {
        background-color: #EEE;
        clear: both;
        font-weight: bold;
        margin-top: 5px;
        padding: 8px;
        font-size: 110%;
        width: 550px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .F4 {
        clear: both;
    }

    .xx {
        font-size: 140%;
        font-weight: bold;
        padding-left: 5px;
    }

    .yj {
        font-size: 17px;
        font-weight: bold;
        margin: 0;
    }

    .wz {
        clear: both;
        display: block;
        font-size: 85%;
        padding-left: 18px;
    }

    .gF {
        font-size: 115%;
        font-weight: bold;
        line-height: 24px;
        padding-left: 5px;
    }

    .Ia {
        font-size: 19px;
        font-weight: bold;
    }

    .Bcb {
        text-align: left;
    }
    .e {
        cursor: pointer;
        color: #005C9C;
    }

    a,a:visited,.e {
        color: #005C9C;
    }

    .CQ tr:hover td{
        background-color:#ffffcc;
        cursor:pointer
    }
        
    </style>
{% endblock css %}

{% block js_bottom %}
    {{block.super}}
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="{% static "js/dashboard-map.js" %}" type="text/javascript"></script>
    <script src="{% static "js/grafico-triangulo-pais.js" %}" type="text/javascript"></script>

    <script>
        $().ready(function(){
            $(".graph-triangle-container").graficoTrianguloPorPais('{% url "get_triangle_graph_countries" %}');
            $("#map-goals").dashboardMap({{countries_map|safe}});
        });
    </script>

    <script>
    (function(){
        google.load('visualization', '1', {
            packages: ['table']
        });

        var countries = {
            "Belize": {
                start: "B3",
                end: "D20",
                worksheet: "LiST2 BE"
            },
            "Costa Rica": {
                start: "B3",
                end: "D20",
                worksheet: "LiST2 CR"
            },
            "El Salvador": {
                start: "B3",
                end: "D20",
                worksheet: "LiST2 ES"
            },
            "Guatemala": {
                start: "B3",
                end: "D20",
                worksheet: "LiST2 GU"
            },
            "Honduras": {
                start: "B3",
                end: "D20",
                worksheet: "LiST2 HO"
            },
            "Mexico": {
                start: "B3",
                end: "D20",
                worksheet: "LiST2 MEX"
            },
            "Nicaragua": {
                start: "B3",
                end: "D20",
                worksheet: "LiST2 NI"
            },
            "Panama": {
                start: "B3",
                end: "D20",
                worksheet: "LiST2 PN"
           }
        };

        $(document).ready(function() {
            var DEFAULT = 'Nicaragua';
            $("#countryList").val(DEFAULT).attr('selected', true);
            drawVisualization(DEFAULT);
            $("#countryList").change(function() {
                drawVisualization($(this).val());
            });
        });

        function drawVisualization(country) {


            var country = countries[country];

            var DATA_SOURCE_URL = 'https://docs.google.com/spreadsheet/tq?key=0Ak2_oq8RFFO9dFI3YmNVZ3JrOFpkQ3ZMVnRiTmlRWnc&sheet=' + country.worksheet + '&range=' + country.start + ':' + country.end + '&pub=1';

            var query = new google.visualization.Query(DATA_SOURCE_URL);

            query.send(handleQueryResponse);

        }

        function handleQueryResponse(response) {

            if (checkStatus(response)) {

                var data = response.getDataTable();

                drawChart(data, 'container', 'Mortality rate reduction in children under 5yrs attributed to the intervention', 'This graphic shows how many lives each intervention could save');

            }
        }

        function drawChart(data, div, title, subtitle) {

            var numRows = data.getNumberOfRows();

            var seriesArray = [];
            var pieChartData = [];

            for (var i = 0; i < numRows; i++) {

                var key = data.getValue(i, 0);
                var valuePie = data.getValue(i, 1);
                var value = data.getValue(i, 2);

                seriesArray.push({
                    "name": key,
                    "data": [value]
                });

                pieChartData.push({
                    "name": key,
                    "y": valuePie
                });

            }

            var pieChartConfigurationData = {
                type: 'pie',
                name: '% reducción mortalidad',
                data: pieChartData,
                center: [400, 120],
                size: 160,
                showInLegend: false,
                dataLabels: {
                    enabled: false
                }
            };

            seriesArray.push(pieChartConfigurationData);

            var chart;
            $(document).ready(function() {
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'container',
                        type: 'bar'
                    },

                    title: {
                        text: title
                    },
                    subtitle: {
                        text: subtitle
                    },

                    labels: {
                        items: [{
                            html: '% reducción mortalidad',
                            style: {
                                left: '280px',
                                top: '18px',
                                color: 'black'
                            }}]
                    },

                    xAxis: {
                        categories: [''],
                        title: {
                            text: null
                        }
                    },

                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Lives Saved',
                            align: 'high'
                        },
                        labels: {
                            overflow: 'justify'
                        }
                    },

                    tooltip: {
                        formatter: function() {
                            var s;
                            if (this.point.name) { // the pie chart
                                s = '' + this.point.name + ': ' + this.y + ' ';
                            } else {
                                s = '' + this.series.name + ': ' + this.y;
                            }
                            return s;
                        }


                    },

                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },

                    credits: {
                        enabled: false
                    },

                    series: seriesArray

                });
            });

        };

        function checkStatus(response) {

            if (response.isError()) {
                alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
                return false;
            }

            return true;
        }
    })();

    </script>

{% endblock js_bottom %}

{% block content %}
<div class="map-container row-fluid spacing-bottom spacing-bottom">
  <div id="map-goals"></div>
</div>

<style>
    
</style>
<div class="content">
    <div class="row-fluid graph-triangle-wrapper">
        <div class="grid simple">
          <div class="grid-title no-border">
            <h4>SM2015 Primeras Operaciones</h4>
            <div class="tools"> <a class="collapse" href="javascript:;"></a> <a class="config" data-toggle="modal" href="#grid-config"></a> <a class="reload" href="javascript:;"></a> <a class="remove" href="javascript:;"></a> </div>
          </div>
          <div class="grid-body no-border">
            <div class="row-fluid graph-triangle-container"></div>
            <div class="hide-graph-triangle">Show more</div>
          </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="grid simple">
              <div class="grid-title no-border">
                <div class="tools"> <a class="collapse" href="javascript:;"></a> <a class="config" data-toggle="modal" href="#grid-config"></a> <a class="reload" href="javascript:;"></a> <a class="remove" href="javascript:;"></a> </div>
                <h4></h4>
              </div>
              <div class="grid-body no-border">
                <div class="row-fluid">
                    <div id="dashboard">
                          <table>
                            <tr style='vertical-align: top;'>
                              <td style='width: 160px; font-size: 0.9em;'>
                                <div id="control1">
                                  <form>
                                       <fieldset>
                                          <legend>Country</legend>
                                          <p>
                                             <select id = "countryList">
                                               <option value = "Belize">Belize</option>
                                               <option value = "Costa Rica">Costa Rica</option>
                                               <option value = "El Salvador">El Salvador</option>
                                               <option value = "GU-G1001">Guatemala</option>
                                               <option value = "HO-G1001">Honduras</option>
                                               <option value = "NI-G1001">Nicaragua</option>
                                               <option value = "ME-G1001">Mexico</option>
                                               <option value = "PN-G1001">Panama</option>
                                             </select>
                                          </p>
                                       </fieldset>
                                    </form>
                                    
                                 </div>
                                <div id="control2" style="display: none;"></div>
                                <div id="control3"></div>
                              </td>
                              <td style='width: 620px'>
                                <div id="container" style="min-width: 450px; height: 600px;"></div>
                                <div style="float: left;" id="chart2"></div>
                                <div style="float: left;" id="chart3"></div>
                              </td>
                            </tr>
                          </table>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE --> 
{% endblock %}
