{% extends 'base_logado.html' %}

{% block content %}
<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<div id="portlet-config" class="modal hide">
  <div class="modal-header">
    <button data-dismiss="modal" class="close" type="button"></button>
    <h3>Widget Settings</h3>
  </div>
  <div class="modal-body"> Widget settings form goes here </div>
</div>
<div class="clearfix"></div>
<div class="content">
  <div class="map-container row-fluid spacing-bottom spacing-bottom">
      <script>
          var map;
          function initialize() {
            /* Geo LatLng */
            var geoGuatemala = new google.maps.LatLng(15.961329,-90.981447);
            /* END OF Geo LatLng */

            var mapOptions = {
              zoom: 4,
              center: geoGuatemala
            };
            map = new google.maps.Map(document.getElementById('map-goals'), mapOptions);
            var markerIcon = '/static/img/green_waypoint.png';

            /* InfoWIdows */
            var InfoBoxHTML = ''+
              '<div class="content-info-window">'+
                  '<div class="arrow-container"></div>'+
                  '<div class="left-side">'+
                      '<div class="main-info">'+
                          '<h4 class="title-info">{TITLE}</h4>'+
                          '<p class="desc">Meta: melhorar o acesso.</p>'+
                      '</div>'+
                      '<a class="more-info" href="#">Más infos</a>'+
                  '</div>'+
                  '<div class="right-side">'+
                      '<div class="statistics">'+
                          '<span class="label-stats">Objetivos</span>'+
                      '</div>'+
                  '</div>'+
              '</div>';

            var infoBoxDefault = document.createElement("div");
              infoBoxDefault.className = 'content-info-window'
              infoBoxDefault.innerHTML = InfoBoxHTML;

            var infoBoxOptions = {
                disableAutoPan: true
                ,maxWidth: 0
                ,pixelOffset: new google.maps.Size(0, -140)
                ,zIndex: null
                ,boxStyle: {
                  width: '522px'
                }
                ,closeBoxMargin: "10px 40px 0px 0px"
                ,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
                ,infoBoxClearance: new google.maps.Size(1, 1)
                ,isHidden: true
                ,pane: "floatPane"
                ,visible: true
            };
            /* END OF InfoWIdows */

            /* Markers */
            var markerGuatemala = new google.maps.Marker({
                position: geoGuatemala,
                map: map,
                icon: markerIcon,
                visible: true
            });

            var infoBoxGuatemalaOptions = infoBoxOptions;
            infoBoxGuatemalaOptions.content = infoBoxDefault.innerHTML.replace("{TITLE}", "Guatemala");
            var infoBoxGuatemala = new InfoBox(infoBoxGuatemalaOptions);

            google.maps.event.addListener(markerGuatemala,'click', (function(markerGuatemala) {
              return function() {
                  infoBoxGuatemala.open(map, this);
              }
            })(markerGuatemala));
            /* END OF Markers */
          }


          google.maps.event.addDomListener(window, 'load', initialize);
      </script>
      <div id="map-goals"></div>
  </div>

  <div class="graficos-triangulo"> 
          <div class="row-fluid spacing-bottom">
              <div class="span4">
                  <div class="grid simple" id="container0" style="width: 300px; height: 300px; margin: 0 auto"></div>
              </div>
              <div class="span4">
                  <div class="grid simple" id="container1" style="width: 300px; height: 300px; margin: 0 auto"></div>
              </div>
              <div class="span4">
                  <div class="grid simple" id="container2" style="width: 300px; height: 300px; margin: 0 auto"></div>
              </div>
          </div>
          <div class="row-fluid spacing-bottom">
              <div class="span4">
                  <div id="container3" style="width: 300px; height: 300px; margin: 0 auto"></div>
              </div>
              <div class="span4">
                  <div id="container4" style="width: 300px; height: 300px; margin: 0 auto"></div>
              </div>
              <div class="span4">
                  <div id="container5" style="width: 300px; height: 300px; margin: 0 auto"></div>
              </div class="span4">
          </div>
          <div class="row-fluid spacing-bottom 2col">
              <div class="span4">
                  <div id="container6" style="width: 300px; height: 300px; margin: 0 auto"></div>
              </div>
              <div class="span4">
                  <div id="container7" style="width: 300px; height: 300px; margin: 0 auto"></div>
              </div>
          </div>
  </div>
</div>
<!-- END PAGE --> 
{% endblock %}
