{% extends 'base_logado.html' %}

{% block content %}
    
<style>
    table.table {
        background-color: #FFFFFF;
    }
    .table-condensed th, .table-condensed td {
        padding: 10px 5px 10px 3px;
    }
    #example_paginate {
        display: none;
    }
    #example_info {
        margin-bottom:10px;
    }
</style>
<div class="content">
    <div class="row-fluid">
        <div class="span12">
            <div class="grid simple ">
                <div class="grid-body clearfix">
                    <table id="example" class="table table-hover table-condensed dataTable">
                        <thead>
                            <tr>
                                <th class="column-name">Pais<th>
                                <th class="column-name">Indicador de Pago<th>
                                <th class="column-name">Hito<th>
                                <th class="column-name">Trimestre<th>
                                <th class="column-name">Audiencia<th>
                                <th class="column-name">Estado Actual<th>
                                <th class="column-name">Alerta/Notas<th>
                                <th class="column-name">Recomendación<th>
                                <th class="column-name">Acuerdo<th>
                                <th class="column-name">Actividad en POA<th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for milestone in milestones %}
                        <tr id="{{milestone.id}}">
                            <td class="editable" name="indicador_de_pago">{{milestone.country}}<td>
                            <td class="editable" name="indicador_de_pago">{{milestone.indicador_de_pago}}<td>
                            <td class="editable" name="hito">{{milestone.hito}}<td>
                            <td class="editable" name="trimestre">{{milestone.trimestre}}<td>
                            <td class="editable" name="audiencia">{{milestone.audiencia}}<td>
                            <td class="editable" name="estado_actual">{{milestone.estado_actual}}<td>
                            <td class="editable" name="alerta_notas">{{milestone.alerta_notas}}<td>
                            <td class="editable" name="recomendacion">{{milestone.recomendacion}}<td>
                            <td class="editable" name="acuerdo">{{milestone.acuerdo}}<td>
                            <td class="editable" name="actividad_en_pod">{{milestone.actividad_en_pod}}<td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>    
            </div>    
        </div>    
    </div>    
</div>    
    <script type="text/javascript" charset="utf-8">
    /* Time between each scrolling frame */
    $.fn.dataTableExt.oPagination.iTweenTime = 100;

    $.fn.dataTableExt.oPagination.scrolling = {
        "fnInit": function ( oSettings, nPaging, fnCallbackDraw )
        {
            var oLang = oSettings.oLanguage.oPaginate;
            var oClasses = oSettings.oClasses;
            var fnClickHandler = function ( e ) {
                if ( oSettings.oApi._fnPageChange( oSettings, e.data.action ) )
                {
                    fnCallbackDraw( oSettings );
                }
            };

            var sAppend = (!oSettings.bJUI) ?
                '<a class="'+oSettings.oClasses.sPagePrevDisabled+'" tabindex="'+oSettings.iTabIndex+'" role="button">'+oLang.sPrevious+'</a>'+
                '<a class="'+oSettings.oClasses.sPageNextDisabled+'" tabindex="'+oSettings.iTabIndex+'" role="button">'+oLang.sNext+'</a>'
                :
                '<a class="'+oSettings.oClasses.sPagePrevDisabled+'" tabindex="'+oSettings.iTabIndex+'" role="button"><span class="'+oSettings.oClasses.sPageJUIPrev+'"></span></a>'+
                '<a class="'+oSettings.oClasses.sPageNextDisabled+'" tabindex="'+oSettings.iTabIndex+'" role="button"><span class="'+oSettings.oClasses.sPageJUINext+'"></span></a>';
            $(nPaging).append( sAppend );
            
            var els = $('a', nPaging);
            var nPrevious = els[0],
                nNext = els[1];
            
            oSettings.oApi._fnBindAction( nPrevious, {action: "previous"}, function() {
                /* Disallow paging event during a current paging event */
                if ( typeof oSettings.iPagingLoopStart != 'undefined' && oSettings.iPagingLoopStart != -1 )
                {
                    return;
                }
                
                oSettings.iPagingLoopStart = oSettings._iDisplayStart;
                oSettings.iPagingEnd = oSettings._iDisplayStart - oSettings._iDisplayLength;
                
                /* Correct for underrun */
                if ( oSettings.iPagingEnd < 0 )
                {
                  oSettings.iPagingEnd = 0;
                }
                
                var iTween = $.fn.dataTableExt.oPagination.iTweenTime;
                var innerLoop = function () {
                    if ( oSettings.iPagingLoopStart > oSettings.iPagingEnd ) {
                        oSettings.iPagingLoopStart--;
                        oSettings._iDisplayStart = oSettings.iPagingLoopStart;
                        fnCallbackDraw( oSettings );
                        setTimeout( function() { innerLoop(); }, iTween );
                    } else {
                        oSettings.iPagingLoopStart = -1;
                    }
                };
                innerLoop();
            } );

            oSettings.oApi._fnBindAction( nNext, {action: "next"}, function() {
                /* Disallow paging event during a current paging event */
                if ( typeof oSettings.iPagingLoopStart != 'undefined' && oSettings.iPagingLoopStart != -1 )
                {
                    return;
                }
                
                oSettings.iPagingLoopStart = oSettings._iDisplayStart;
                
                /* Make sure we are not over running the display array */
                if ( oSettings._iDisplayStart + oSettings._iDisplayLength < oSettings.fnRecordsDisplay() )
                {
                    oSettings.iPagingEnd = oSettings._iDisplayStart + oSettings._iDisplayLength;
                }
                
                var iTween = $.fn.dataTableExt.oPagination.iTweenTime;
                var innerLoop = function () {
                    if ( oSettings.iPagingLoopStart < oSettings.iPagingEnd ) {
                        oSettings.iPagingLoopStart++;
                        oSettings._iDisplayStart = oSettings.iPagingLoopStart;
                        fnCallbackDraw( oSettings );
                        setTimeout( function() { innerLoop(); }, iTween );
                    } else {
                        oSettings.iPagingLoopStart = -1;
                    }
                };
                innerLoop();
            } );
        },
        
        "fnUpdate": function ( oSettings, fnCallbackDraw )
        {
            if ( !oSettings.aanFeatures.p )
            {
                return;
            }
            
            /* Loop over each instance of the pager */
            var an = oSettings.aanFeatures.p;
            for ( var i=0, iLen=an.length ; i<iLen ; i++ )
            {
                if ( an[i].childNodes.length !== 0 )
                {
                    an[i].childNodes[0].className = 
                        ( oSettings._iDisplayStart === 0 ) ? 
                        oSettings.oClasses.sPagePrevDisabled : oSettings.oClasses.sPagePrevEnabled;
                    
                    an[i].childNodes[1].className = 
                        ( oSettings.fnDisplayEnd() == oSettings.fnRecordsDisplay() ) ? 
                        oSettings.oClasses.sPageNextDisabled : oSettings.oClasses.sPageNextEnabled;
                }
            }
        }
    }
            
            $(document).ready(function() {
                $('#example').dataTable({});
            });
            $('.editable').editable('/save-milestone-data', { 
                submitdata : function(value, settings) { 
                                return {
                                        csrfmiddlewaretoken : "{{ csrf_token }}",
                                        objid : $(this).parent().attr('id'),
                                        objfield : $(this).attr('name')
                                       };
                             }
            });
        
    </script>
{% endblock %}
