{% extends 'base_logado.html' %}
{% load staticfiles %}

{% block js_bottom %}
    {{ block.super }}
    <script src="{% static "assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/bootstrap-select2/select2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/jquery-datatable/js/jquery.dataTables.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-datatable/extra/js/TableTools.min.js" %}" type="text/javascript" ></script>
    <script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/datatables.responsive.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/lodash.min.js" %}"></script>
    <script src="{% static "assets/js/datatables.js" %}" type="text/javascript"></script>
    <script src="{% static "js/dashboard-table.js" %}" type="text/javascript"></script>
    <script src="{% static "js/django.csrf.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.jeditable.datepicker.js" %}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            $(".table-country-operation").dashboardTable("{% url 'table_render_country_operation' %}", {
                title: "Country Operation Financial Execution Performance, by Quarter",
                url_save: "{% url 'save_milestone_data' %}",
                scroll: true
            });
        });
    </script>
{% endblock js_bottom %}

{% block css %}
    {{ block.super }}
    <link href="{% static "css/tables-custom.css" %}" rel="stylesheet" type="text/css"/>
{% endblock css %}

{% block content %}

<div class="content">
    <div class="table-country-operation"></div>
</div>
{% endblock %}
