{% extends 'base_logado.html' %}
{% load staticfiles %}

{% block js_bottom %}
    {{ block.super }}
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="{% static "assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/bootstrap-select2/select2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/jquery-datatable/js/jquery.dataTables.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-datatable/extra/js/TableTools.min.js" %}" type="text/javascript" ></script>
    <script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/datatables.responsive.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/lodash.min.js" %}"></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.time.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.selection.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.animator.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.orderBars.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-sparkline/jquery-sparkline.js" %}" type="text/javascript" ></script>
    
    <script src="{% static "assets/js/datatables.js" %}" type="text/javascript"></script>
    
    <script src="{% static "js/dashboard-table.js" %}" type="text/javascript"></script>
    <script src="{% static "js/dashboard-tile.js" %}" type="text/javascript"></script>
    <script src="{% static "js/dashboard-chart-bar.js" %}" type="text/javascript"></script>
    <script src="{% static "js/django.csrf.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.jeditable.datepicker.js" %}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            var gf_description = ''+
            '<p>Financial Variation:</p>'+
            '<ul>'+
            '<li><strong>Definition:</strong> Shows percentage variation between amount executed and amount budgeted, '+
            'calculated by subtracting % of financial progress in execution from % of amount budgeted in the '+
            'period.</li>'+
            '<li><strong>Interpretation:</strong> Negative values represent delays in financial execution, although in some cases '+
            'they may represent savings if the products have been delivered by date of analysis. Positive '+
            'values usually indicate advances, however they can be the result of an additional cost if the '+
            'products have been delivered in the period.</li></ul>'+
            '<p>*WBS = Work Breakdown Structure</p>'+
            '<p>Financial Variation Over-time:</p>'+
            '<p><i><strong>Interpretation:</strong> The points plotted on graph facilitate analysis of trends. '+
            'Negative values or delays are seen when red curve is below the blue. Red curve above the blue indicates '+
            'progress achieved.</i></p>';

            $(".table-grants-finances").dashboardTable("{% url 'table_render_grants_finances' %}", {
                title: "Donor Disbursment Performance, by Quarter",
                description: gf_description,
                url_save: "{% url 'save_milestone_data' %}"
            });

            var origins = {{origins|safe}};
            $(origins).each(function(i, origin){
                $(".tiles-container").dashboardTile(origin);
            });

            $(".chart-container").dashboardChartBar("{% url 'chart_flot' %}", {
              title: 'Donor Disbursement Performance: Real Vs. Expected'
            });
        });
    </script>
{% endblock js_bottom %}

{% block css %}
    {{ block.super }}
    <link href="{% static "css/tables-custom.css" %}" rel="stylesheet" type="text/css"/>
    <style>
        .tiles .tiles-title {
            font-size: 18px;
            font-weight: lighter;
        }
        .tiles .tiles-title strong {
            font-weight: 600;
        }
        .tiles.yellow {
            background-color: #E0B500;
        }
    </style>
{% endblock css %}

{% block content %}
<div class="content">
    <div class="page-title">	
        <h3>Donors Disbursment Performance</h3>		
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="grid simple">
              <div class="grid-body">
                <div class="row-fluid">
                  <p>
                    Every Donor has committed its funds contributions schedule. Based on this commitment SM2015
                    measures the compliance with it, every quarter.
                  </p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="container">
        <div class="row-fluid spacing-bottom 2col tiles-container"></div>			
    </div>  

    <div class="table-grants-finances"></div>

    <div class="row-fluid">
      <div class="chart-container span12"></div>
    </div>
</div>
{% endblock %}
