{% extends 'base_logado.html' %}
{% load staticfiles %}
{% load humanize %}

{% block js_bottom %}
    {{ block.super }}
    
    <!-- possiveis remocoes -->
    <!-- 
        <script src="{% static "assets/plugins/jquery-slider/jquery.sidr.min.js" %}" type="text/javascript"></script>


        <script src="{% static "assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js" %}" type="text/javascript"></script>
    -->

    <script src="{% static "assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/bootstrap-select2/select2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/jquery-datatable/js/jquery.dataTables.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-datatable/extra/js/TableTools.min.js" %}" type="text/javascript" ></script>
    <script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/datatables.responsive.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/lodash.min.js" %}"></script>
    <script src="{% static "assets/js/datatables.js" %}" type="text/javascript"></script>
    <script src="{% static "js/dashboard-table.js" %}" type="text/javascript"></script>
    <script src="{% static "js/django.csrf.js" %}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            $(window).bind("select-country", function(elem, country, country_slug){
                $(".country-name").text(country);

                $(".dataTables_wrapper").attr("style", "display: none !important");
                $("#hito-pais-"+country_slug+"_wrapper").attr("style", "display: block !important");

                $(".avance-pais").attr("style", "display: none !important");
                $(".avance-pais-"+country_slug).attr("style", "display: block !important");
            });
            $("select[name='select-pais']").change(function(){
                var name = $(this).find(":selected").val().split('|')[0];
                var slug = $(this).find(":selected").val().split('|')[1];
                $(window).trigger("select-country", [name, slug]);
            });

            {% if countries|length > 1 %}
            var $pais_initial = $("select[name='select-pais'] :selected");
            var name = $pais_initial.val().split('|')[0];
            var slug = $pais_initial.val().split('|')[1];
            $(window).trigger("select-country", [name, slug]);
            {% else %}
            $(window).trigger("select-country", ["{{countries.0.name}}", "{{countries.0.name|slugify}}"]);
            {% endif %}


            /*
            {% for table in tables %}
                    var responsiveHelper = undefined;
                    var breakpointDefinition = {
                        tablet: 1024,
                        phone : 480
                    };
                    var tableElement_{{forloop.counter}} = $('#hito-pais-{{table.country.name|slugify}}');
                    tableElement_{{forloop.counter}}.dataTable( {
                        "sDom": "<'row-fluid'<'span6'l T><'span6'f>r>t<'row-fluid'<'span12'p i>>",
                            "oTableTools": {
                            "aButtons": [
                                {
                                    "sExtends":    "collection",
                                    "sButtonText": "<i class='icon-cloud-download'></i>",
                                    "aButtons":    [ "csv", "xls", "pdf", "copy"]
                                }
                            ]
                        },
                        "sPaginationType": "bootstrap",
                         "aoColumnDefs": [
                          { 'bSortable': false, 'aTargets': [ 0 ] }
                        ],
                        "aaSorting": [[ 1, "asc" ]],
                        "oLanguage": {
                            "sLengthMenu": "_MENU_ ",
                            "sInfo": "Showing <b>_START_ to _END_</b> of _TOTAL_ entries"
                        },
                         bAutoWidth     : false,
                        fnPreDrawCallback: function () {
                            // Initialize the responsive datatables helper once.
                            if (!responsiveHelper) {
                                responsiveHelper = new ResponsiveDatatablesHelper(tableElement_{{forloop.counter}}, breakpointDefinition);
                            }
                        },
                        fnRowCallback  : function (nRow) {
                            responsiveHelper.createExpandIcon(nRow);
                        },
                        fnDrawCallback : function (oSettings) {
                            responsiveHelper.respond();
                        }
                    });
                    
                    $('#hito-pais-{{table.country.name|slugify}} input').click( function() {
                        $(this).parent().parent().parent().toggleClass('row_selected');
                    });
            {% endfor %}
        });*/

            $(".table-hitos").dashboardTable("{% url 'table_render_hitos' country_slug='belize' %}", {
                title: "Hitos",
                url_save: "{% url 'save_milestone_data' model_name='Hito' %}"
            }, function(){
            });

            $(".table-ucmilestones").dashboardTable("{% url 'table_render_ucmilestone' %}", {
                title: "UcMilestone",
                url_save: "{% url 'save_milestone_data' model_name='UcMilestone' %}"
            }, function(){
            });
            
        });
    </script>
{% endblock js_bottom %}

{% block css %}
    {{ block.super }}
    <style>
        .title-select-pais { 
            float: left;
        }
        .select-pais {
            float: left;
            margin: 5px 0 10px 10px;
        }

        .table-avances {}
        .table-avances .avances-header {
            background-color: #ECF0F2;
            border-bottom: 1px solid #DDDDDD;
            padding: 10px;
            text-align: right;
            width: 340px;
        }
        .table-avances .avances-value {
            border-bottom: 1px solid #EEEEEE;
            padding: 5px 20px;
        }
        .editable.combofield select {
            font-size: 13px;
            width: 85px;
        }
        button {
            background-color: #D1DADE;
            background-image: none !important;
            border: medium none;
            box-shadow: none;
            color: #5E5E5E;
            cursor: pointer;
            display: inline-block;
            font: 10px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
            margin: 5px 2px 0 0;
            padding: 3px 8px 4px;
            text-align: center;
            text-shadow: none;
            transition: all 0.12s linear 0s !important;
            vertical-align: middle;
        }
    </style>
{% endblock css %}

{% block content %}

<div class="content">
    <div class="row-fluid">
      <div class="span12">
        <div class="grid simple ">
          <div class="grid-body ">
            <div class="row-fluid clearfix">
                {% if countries|length > 1 %}
                <h4 class="title-select-pais">Seleccione un país - </h4>
                <select name="select-pais" class="select-pais">
                    {% for country in countries %}
                    <option value="{{country.name}}|{{country.name|slugify}}">{{country.name}}</option>
                    {% endfor %}
                </select>
                {% else %}
                <h4>Usted está viendo - <span class="semi-bold country-name"></span></h4>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="table-hitos"></div>
    <div class="table-ucmilestones"></div>

    <div class="row-fluid">
      <div class="span12">
        <div class="grid simple ">
          <div class="grid-title">
            <h4>Avance fisico financieros</h4>
            <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
          </div>
          <div class="grid-body ">
            {% for table in tables %}
            <div class="row-fluid column-seperation avance-pais avance-pais-{{table.country.name|slugify}}">
                {% for avance in table.avances %}
                <div class="span6">
                    <table class="table-avances table-bordered">
                        <tr>
                            <th class="avances-header">Cual es la fecha en que la información que está registrando fue actualizada</th>
                            <td class="avances-value">{{avance.fecha_de_actualizacion}}</td>
                        </tr>
                        <tr>
                            <th class="avances-header">Avances Fiscos Planificados (Meta Ejecución)</th>
                            <td class="avances-value editable charfield">{{avance.avance_fisico_planificado}}%</td>
                        </tr>
                        <tr>
                            <th class="avances-header">Avances financieros  planificados (Ejecución financiera planificados)</th>
                            <td class="avances-value editable charfield">{{avance.avance_financiero_planificado}}%</td>
                        </tr>
                        <tr>
                            <th class="avances-header">Monto total desembolsado (BID a PAIS)</th>
                            <td class="avances-value editable charfield">${{avance.monto_desembolsado|intcomma}}</td>
                        </tr>
                        <tr>
                            <th class="avances-header">Avances Físicos reales (Avance en la ejecución real segun el PEP)</th>
                            <td class="avances-value editable charfield">{{avance.avance_fisico_real}}%</td>
                        </tr>
                        <tr>
                            <th class="avances-header">Avances financieros actuales (Ejecución financiera real según el estados financieros del ejecutor hasta la fecha (%))</th>
                            <td class="avances-value editable charfield">{{avance.avance_financiero_actual}}%</td>
                        </tr>
                    </table>
                </div>
                <div class="span6">
                    <table class="table-avances table-bordered">
                        <tr>
                            <th class="avances-header">Monto Comprometido</th>
                            <td class="avances-value editable charfield">{{avance.monto_comprometido}}%</td>
                        </tr>
                        <tr>
                            <th class="avances-header">Avances Fiscos Planificados (Meta Ejecución): DE LA LINEA DE BASE ORIGINAL</th>
                            <td class="avances-value editable charfield">{{avance.avances_fisicos_original_programado}}%</td>
                        </tr>
                        <tr>
                            <th class="avances-header">Avances financieros planificados (Ejecución financiera planificados) DEL LINEA DE BASE ORIGINAL</th>
                            <td class="avances-value editable charfield">{{avance.avances_financieros_original_programado|intcomma}}</td>
                        </tr>
                        <tr>
                            <th class="avances-header">Alertas temprana en general</th>
                            <td class="avances-value editable textfield">{{avance.alerta}}</td>
                        </tr>
                        <tr>
                            <th class="avances-header">Recomendaciones</th>
                            <td class="avances-value editable textfield">{{avance.recomendacion}}</td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

</div>
{% endblock %}
