{% extends 'base_logado.html' %}
{% load staticfiles %}
{% load i18n %}

{% block js_bottom %}
    {{ block.super }}
    <script src="{% static "assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/bootstrap-select2/select2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/jquery-datatable/js/jquery.dataTables.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-datatable/extra/js/TableTools.min.js" %}" type="text/javascript" ></script>
    <script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/datatables.responsive.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/lodash.min.js" %}"></script>
    <script src="{% static "assets/js/datatables.js" %}" type="text/javascript"></script>
    <script src="{% static "js/dashboard-table.js" %}" type="text/javascript"></script>
    <script src="{% static "js/django.csrf.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.jeditable.datepicker.js" %}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            $(window).bind("select-date", function(elem, v_date){
              $(".table-ucmilestones").dashboardTable("/tables/render/ucmilestone/" + v_date, {
                  title: '{% trans "Objetivos y Hitos de la Unidad Coordinadora" %}',
                  description: '{% trans "Cada año, la Unidad Coordinadora crea hitos trimestrales para asegurar que se consigan los hitos anuales SM2015. Esta gráfica muestra los hitos y su estado actual. El verde significa que el hito se ha completado, el amarillo significa que está en curso y el rojo significa el hito está pendiente, o más allá de su fecha prevista de finalización. Esta gráfica se actualiza trimestralmente."%}',
                  url_save: "{% url 'save_milestone_data' %}",
              });
            });

            $("select[name='select-date']").change(function(){
              var v_date = $(this).find(":selected").val();
              $(window).trigger("select-date", [v_date]);
            });
          
            $("select[name='select-date'] option:first").attr("selected", true);
            $(window).trigger("select-date", ["{{dates.0}}"]);
        });
        $(document).ready(function() {
        });
    </script>
{% endblock js_bottom %}

{% block css %}
    {{ block.super }}
    <link href="{% static "css/tables-custom.css" %}" rel="stylesheet" type="text/css"/>
    <style>
        .title-select-date { 
            float: left;
        }
        .select-date {
            float: left;
            margin: 5px 0 10px 10px;
        }
    </style>
{% endblock css %}

{% block content %}

<div class="content">
    <div class="row-fluid">
      <div class="span12">
        <div class="grid simple ">
          <div class="grid-body ">
            <div class="row-fluid clearfix">
              <h4 class="title-select-date">{% trans "Seleccione una Data" %} - </h4>
                <select name="select-date" class="select-date">
                    {% for v_date in dates %}
                    <option value="{{v_date}}">{{v_date}}</option>
                    {% endfor %}
                </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-ucmilestones"></div>

</div>
{% endblock %}
