{% extends 'base_logado.html' %}
{% load staticfiles %}

{% block js_bottom %}
    {{ block.super }}
    <script src="{% static "assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/bootstrap-select2/select2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/jquery-datatable/js/jquery.dataTables.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-datatable/extra/js/TableTools.min.js" %}" type="text/javascript" ></script>
    <script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/datatables.responsive.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/lodash.min.js" %}"></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.time.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.selection.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.animator.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.orderBars.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-sparkline/jquery-sparkline.js" %}" type="text/javascript" ></script>
    
    <script src="{% static "assets/js/datatables.js" %}" type="text/javascript"></script>
    
    <script src="{% static "js/dashboard-table.js" %}" type="text/javascript"></script>
    <script src="{% static "js/dashboard-tile.js" %}" type="text/javascript"></script>
    <script src="{% static "js/dashboard-chart-flot.js" %}" type="text/javascript"></script>
    <script src="{% static "js/django.csrf.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.jeditable.datepicker.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/boostrap-form-wizard/js/jquery.bootstrap.wizard.min.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/bootstrap-select2/select2.min.js" type="text/javascript" %}"></script>
    <script>
        $(document).ready(function() {
            $select_country = $(document.getElementById('country'));
            $select_isech = $(document.getElementById('isech'));
            $select_pago = $(document.getElementById('pago'));
            $select_level = $(document.getElementById('level'));
            $select_location = $(document.getElementById('location'));
            $select_quarter = $(document.getElementById('quarter'));
            $form = $(document.getElementById("countryDetailsForm"));
            
            $select_country.find('option:first').attr('selected', true);

            $('#rootwizard').bootstrapWizard({
                  'tabClass': 'form-wizard',
                  'onNext': function(tab, navigation, index) {
                    $('#rootwizard').find('.form-wizard').children('li').eq(index-1).addClass('complete');
                    $('#rootwizard').find('.form-wizard').children('li').eq(index-1).find('.step').html('<i class="icon-ok"></i>');	
                    if(index == 3){
                      $(".table-country-operation").dashboardTable("{% url 'table_render_country_details' %}?" + $form.serialize(), {
                          title: "Country Details",
                          url_save: "{% url 'save_milestone_data' %}"
                      });
                    }
                  }
             });
            $(".select-beauty").select2();


            var listLevel = function(){
              $.getJSON("{% url 'country_list_level' %}?" + $form.serialize(), function(response){
                var options = ['<option value="">-- choose a level --</option>',
                               '<option value="-1">All</option>'];
                $.each(response, function(){
                  options.push('<option value="'+this.id+'">'+this.name+'</option>');
                });
                $select_level.html(options);
                $select_level.select2();
              });
            }
            
            var listIsech = function(){
              $.getJSON("{% url 'country_list_isech' %}?" + $form.serialize(), function(response){
                var elements = [];
                $.each(response, function(){
                  var checkbox = ''+
                     '<div class="row-fluid">'+
                     '<div class="checkbox check-success">'+
                      '<input id="checkbox-isech-'+this.id+'" name="isech" type="checkbox" value="'+this.id+'">'+
                      '<label for="checkbox-isech-'+this.id+'">'+this.name+'</label>'+
                     '</div>'+
                     '</div>';
                  elements.push(checkbox);
                });
                $select_isech.html(elements);
              });
            }
            
            var listPago = function(){
              $.getJSON("{% url 'country_list_pago' %}?" + $form.serialize(), function(response){
                var elements = [];
                $.each(response, function(){
                  var checkbox = ''+
                     '<div class="row-fluid">'+
                     '<div class="checkbox check-success">'+
                      '<input id="checkbox-pago-'+this.id+'" name="pago" type="checkbox" value="'+this.id+'">'+
                      '<label for="checkbox-pago-'+this.id+'">'+this.name+'</label>'+
                     '</div>'+
                     '</div>';
                  elements.push(checkbox);
                });
                $select_pago.html(elements);
              });
            }

            var listLocation = function(){
              $.getJSON("{% url 'country_list_location' %}?" + $form.serialize(), function(response){
                var options = ['<option value="">-- choose a location --</option>',
                               '<option value="-1">All</option>'];
                $.each(response, function(){
                  options.push('<option value="'+this+'">'+this+'</option>');
                });
                $select_location.html(options);
                $select_location.select2();
              });
            }

            var listQuarter = function(){
              $.getJSON("{% url 'country_list_quarter' %}?" + $form.serialize(), function(response){
                var elements = [];
                $.each(response, function(){
                  var checkbox = ''+
                     '<div class="row-fluid">'+
                     '<div class="checkbox check-success">'+
                      '<input id="checkbox-quarter-'+this.id+'" name="quarter" type="checkbox" value="'+this.id+'">'+
                      '<label for="checkbox-quarter-'+this.id+'">'+this.name+'</label>'+
                     '</div>'+
                     '</div>';
                  elements.push(checkbox);
                });
                $select_quarter.html(elements);
              });
            }

            $select_country.change(function(){
              if(this.value){
                listLevel();
                $select_level.removeAttr("disabled");
              }  
            });
            $select_level.change(function(){
              if(this.value){
                listLocation();
                $select_location.removeAttr("disabled");
              }  
            });
            $select_location.change(function(){
              if(this.value){
                listPago();
                $select_pago.removeAttr("disabled");
              }  
            });
            $select_pago.find("input[type='checkbox']").live('change', function(){
              listIsech();
              listQuarter();
            });
        });
    </script>
{% endblock js_bottom %}

{% block css %}
    {{ block.super }}
    <link href="{% static "css/tables-custom.css" %}" rel="stylesheet" type="text/css"/>
    <style>
      .list-selects {
        height: 200px;
        padding-top: 10px;
        overflow: auto;
      }
    </style>
{% endblock css %}

{% block content %}
<div class="content">
    <div class="row-fluid">
      <div class="span12">
        <div class="grid simple transparent">
          <div class="grid-title">
            <h4>Country <span class="semi-bold">Details</span></h4>
            <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
          </div>
          <div class="grid-body ">
            <div class="row-fluid">
              <form id="countryDetailsForm">
                <div id="rootwizard" class="span12">
                  <div class="form-wizard-steps">
                    <ul class="wizard-steps">
                      <li class="" data-target="#step1"> <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">Location</span> </a> </li>
                      <li data-target="#step2" class=""> <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">Indicadores</span> </a> </li>
                      <li data-target="#step3" class=""> <a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span class="title">Periodo</span> </a> </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="tab-content transparent">
                    <div class="tab-pane" id="tab1"> <br>
                      <h4 class="semi-bold">Step 1 - <span class="light">Location</span></h4>
                      <br>
                      <div class="row-fluid">
                        <div class="span4">
                          <select class="select-beauty" id="country" name="country" style="width:100%">
                            <option value="">-- choose a country here --</option>
                            {% for c in countries %}
                            <option value="{{c.country__id}}">{{c.country__name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="span4">
                          <select class="select-beauty" id="level" name="level" style="width:100%" disabled="1">
                            <option value="">-- choose a country first --</option>
                          </select>
                        </div>
                        <div class="span4">
                          <select class="select-beauty" id="location" name="location" style="width:100%" disabled="1">
                            <option value="">-- choose a level first --</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="tab2"> <br>
                      <h4 class="semi-bold">Step 2 - <span class="light">Indicadores</span></h4>
                      <br>
                      <div class="row-fluid">
                        <div class="span6">
                          <h4 class="semi-bold">Choose a Pago</span></h4>
                          <div class="list-selects" id="pago">
                            <span>choose a location first</span>
                          </div>
                        </div>
                        <div class="span6">
                          <h4 class="semi-bold">Choose a Isech</span></h4>
                          <div class="list-selects" id="isech">
                            <span>choose a pago first</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="tab3"> <br>
                      <h4 class="semi-bold">Step 3 - <span class="light">Periodo</span></h4>
                      <br>
                      <div class="row-fluid">
                        <div class="span6">
                          <h4 class="semi-bold">Choose a Period</span></h4>
                          <div class="list-selects" id="quarter">
                            <span>choose a pago first</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ul class="wizard wizard-actions">
                      <li class="previous first" style="display:none;"><a href="javascript:;" class="btn">&nbsp;&nbsp;First&nbsp;&nbsp;</a></li>
                      <li class="previous"><a href="javascript:;" class="btn">&nbsp;&nbsp;Previous&nbsp;&nbsp;</a></li>
                      <li class="next last" style="display:none;"><a href="javascript:;" class="btn btn-primary">&nbsp;&nbsp;Last&nbsp;&nbsp;</a></li>
                      <li class="next"><a href="javascript:;" class="btn btn-primary">&nbsp;&nbsp;Next&nbsp;&nbsp;</a></li>
                    </ul>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="table-country-operation"></div>
</div>
{% endblock %}
