{% extends 'base_logado.html' %}
{% load staticfiles %}

{% block js_bottom %}
    {{ block.super }}
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script src="{% static "assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/bootstrap-select2/select2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/jquery-datatable/js/jquery.dataTables.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-datatable/extra/js/TableTools.min.js" %}" type="text/javascript" ></script>
    <script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/datatables.responsive.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/lodash.min.js" %}"></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.time.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.selection.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.animator.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.orderBars.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-sparkline/jquery-sparkline.js" %}" type="text/javascript" ></script>
    
    <script src="{% static "assets/js/datatables.js" %}" type="text/javascript"></script>
    
    <script src="{% static "js/dashboard-table.js" %}" type="text/javascript"></script>
    <script src="{% static "js/dashboard-tile.js" %}" type="text/javascript"></script>
    <script src="{% static "js/dashboard-chart-flot.js" %}" type="text/javascript"></script>
    <script src="{% static "js/grafico-disbursement-pais.js" %}" type="text/javascript"></script>
    <script src="{% static "js/django.csrf.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.jeditable.datepicker.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/ios-switch/ios7-switch.js" %}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            var Switch = require('ios7-switch'),
                         checkbox = document.querySelector('.ios'),
                         mySwitch = new Switch(checkbox),
                         turned_on = false;

            mySwitch.el.addEventListener('click', function(e){
              e.preventDefault();
              mySwitch.toggle();
              if(turned_on == false){
                turned_on = true;
                showExecution();
              } else {
                turned_on = false;
                showDisbursement();
              }
            }, false);

            var countries_disbursement = {{countries_disbursement|safe}};
            var countries_execution = {{countries_execution|safe}};

            var tile_opts = {dv_money_format: true}
            var showDisbursement = function(){
              $(countries_disbursement).each(function(i, origin){
                if(i <= 3){
                  $(".tiles-container01").html("").dashboardTile(origin, tile_opts);
                } else {
                  $(".tiles-container02").html("").dashboardTile(origin, tile_opts);
                }
              });
            }

            var showExecution = function(){
              $(countries_execution).each(function(i, origin){
                if(i <= 3){
                  $(".tiles-container01").html("").dashboardTile(origin, tile_opts);
                } else {
                  $(".tiles-container02").html("").dashboardTile(origin, tile_opts);
                }
              });
            }
            showDisbursement();

            $(".table-country-operation").dashboardTable("{% url 'table_render_country_operation_noneditable' %}?until_actual_quarter=true", {
                title: "Country Operation Financial Execution Performance, by Quarter",
                description: "Every quarter, based on actual execution this performance measurement is being evaluated to wath the "+
                             "trend overtime",
                url_save: "{% url 'save_milestone_data' %}"
            });

            $(".chart-disbursement-container").graficoDisbursement();

            {% if countries|length > 1 %}
            var $pais_initial = $("select[name='select-pais'] :selected");
            var slug = $pais_initial.val();
            {% else %}
            var slug = "{{countries.0.slug}}";
            {% endif %}

            $(".table-hitos").dashboardTable("/tables/render/hitos-noneditable/"+slug, {
                title: "Hitos",
                url_save: "{% url 'save_milestone_data' %}",
                element_top: '.container-select-countries'
            }, function(){
              $("select[name='select-pais']").live('change', function(){
                  var name = $(this).find(":selected").text();
                  var slug = $(this).find(":selected").val();
                  $(window).trigger("select-country", [name, slug]);
              });
            });

            $(window).bind("select-country", function(elem, country, country_slug){
                $(".country-name").text(country);

                $(".table-hitos").dashboardTable("/tables/render/hitos-noneditable/"+country_slug, {
                    title: "Hitos",
                    url_save: "{% url 'save_milestone_data' %}",
                    element_top: '.container-select-countries'
                }, function(){
                  $("select[name='select-pais']").find("option[value='"+country_slug+"']").attr("selected", "selected")
                });
            });
        });
    </script>
{% endblock js_bottom %}

{% block css %}
    {{ block.super }}
    <link href="{% static "css/tables-custom.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "assets/plugins/ios-switch/ios7-switch.css" %}" rel="stylesheet" type="text/css" media="screen" charset="utf-8">
    <style>
        .tiles .tiles-title {
            font-size: 18px;
            font-weight: lighter;
        }
        .tiles .tiles-title strong {
            font-weight: 600;
        }
        .tiles.yellow {
            background-color: #E0B500;
        }

        .slide-primary {
          cursor: pointer;
          float: left;
        }
        .switch-left {
          float: left;
          font-size: 18px;
          height: 45px;
          line-height: 54px;
          margin-right: 15px;
        }
        .switch-right {
          float: left;
          font-size: 18px;
          height: 45px;
          line-height: 54px;
          margin-left: 15px;
        }

        .disbursement-table-header {
          background-color: #ECF0F2;
          border-left: 1px solid #E8EDF1;
          padding: 10px 5px !important;
          vertical-align: bottom !important;
        }

        .disbursement-table-cell {
          border: 1px solid #E8EDF1;
          color: #576475;
          font-size: 13px;
          padding: 10px 5px !important;
          vertical-align: top !important;
        }

        .disbursement-table-row {
          background-color: white;
        }
        .disbursement-table-row:hover {
          background-color: #E2E8EB;
        }

        .container-select-countries {
          display: none;
        }
        .title-select-pais {
          float: left;
          font-size: 15px;
          line-height: 30px;
          padding-right: 10px;
        }
    </style>
{% endblock css %}

{% block content %}
<div class="content">
    <div class="page-title row-fluid">	
      <div class="span8">
        <h3>Country Operation Financial Execution Performance Summary</h3>		
      </div>
      <div class="span4">
        <div class="slide-success">
          <span class="switch-left">Disbursement</span>
          <div class="slide-primary">
            <input type="checkbox" class="ios" name="switch" style="display: none;">
          </div>
          <span class="switch-right">Execution</span>
        </div>
      </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="grid simple">
              <div class="grid-body">
                <div class="row-fluid">
                  <p>
                    The Countries planned the financial execution at the beginning of the operation. This compares the
                    planned financial execution and the actual execution for each country
                  </p>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="container">
        <div class="row-fluid spacing-bottom 2col tiles-container01"></div>			
        <div class="row-fluid spacing-bottom 2col tiles-container02"></div>			
    </div>  

    <div class="table-country-operation"></div>

    <div class="row-fluid chart-disbursement-container"></div>


    <div class="container-select-countries">
      <div class="row-fluid clearfix">
          {% if countries|length > 1 %}
          <div class="clearfix">
            <div class="title-select-pais">Seleccione un país</div>
            <select name="select-pais" class="select-pais">
                {% for country in countries %}
                <option value="{{country.slug}}">{{country.name}}</option>
                {% endfor %}
            </select>
          </div>
          {% else %}
          <h4>Usted está viendo - <span class="semi-bold country-name"></span></h4>
          {% endif %}
      </div>
    </div>

    <div class="table-hitos"></div>

    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}"></script>
    <script type="text/javascript">

    google.setOnLoadCallback(drawChart);
    function drawChart() {

      var container = document.getElementById('example3.1');
      var chart = new google.visualization.Timeline(container);

      var dataTable = new google.visualization.DataTable();
      dataTable.addColumn({ type: 'string', id: 'Country' });
      dataTable.addColumn({ type: 'string', id: 'Name' });
      dataTable.addColumn({ type: 'date', id: 'Start' });
      dataTable.addColumn({ type: 'date', id: 'End' });
      dataTable.addRows([
        [ 'Belize',  'Label 1', new Date(1789, 3, 29), new Date(1797, 2, 3)],
        [ 'Belize',  'Label 2', new Date(1797, 2, 4), new Date(1801, 12, 3)],
        [ 'Chiapas',   'Label 1', new Date(1789, 2, 3),  new Date(1801, 2, 3)],
        [ 'Costa Rica',   'Label 1',  new Date(1789, 2, 3),  new Date(1809, 2, 3)],
        [ 'Panama',   'Label 1',  new Date(1789, 3, 20), new Date(1797, 2, 3)],
        [ 'Nicaragua',   'Label 1', new Date(1789, 2, 3),  new Date(1801, 2, 3)],
        [ 'Honduras',    'Label 1',     new Date(1789, 2, 3),  new Date(1805, 2, 3)],
        [ 'El Salvador',   'Label 1',   new Date(1789, 2, 3),  new Date(1812, 3, 19)],
        [ 'Guatemala',   'Label 1',   new Date(1789, 8, 25), new Date(1790, 2, 21)]]);
      chart.draw(dataTable);
    }
    </script>
    <div id="example3.1" style="height: 360px"></div>
</div>
{% endblock %}
