{% extends 'base_logado.html' %}
{% load staticfiles %}
{% load i18n %}

{% block js_bottom %}
    {{ block.super }}
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script src="{% static "assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/bootstrap-select2/select2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/jquery-datatable/js/jquery.dataTables.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-datatable/extra/js/TableTools.min.js" %}" type="text/javascript" ></script>
    <script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/datatables.responsive.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/plugins/datatables-responsive/js/lodash.min.js" %}"></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.time.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.selection.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.animator.min.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-flot/jquery.flot.orderBars.js" %}" type="text/javascript" ></script>
    <script src="{% static "assets/plugins/jquery-sparkline/jquery-sparkline.js" %}" type="text/javascript" ></script>
    
    <script src="{% static "assets/js/datatables.js" %}" type="text/javascript"></script>
    
    <script src="{% static "assets/plugins/jquery-easy-pie-chart/js/jquery.easypiechart.min.js" %}"></script>
    <script src="{% static "js/dashboard-map.js" %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static "js/highcharts/highcharts.js" %}"></script>
    <script type="text/javascript" src="{% static "js/highcharts/exporting.js" %}"></script>
    <script type="text/javascript" src="{% static "js/highcharts/highcharts-more.js" %}"></script>
    <script src="{% static "js/grafico-triangulo-pais.js" %}" type="text/javascript"></script>
    <script src="{% static "js/dashboard-table.js" %}" type="text/javascript"></script>
    <script src="{% static "js/dashboard-tile.js" %}" type="text/javascript"></script>
    <script src="{% static "js/dashboard-chart-flot.js" %}" type="text/javascript"></script>
    <script src="{% static "js/django.csrf.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.jeditable.datepicker.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/boostrap-form-wizard/js/jquery.bootstrap.wizard.min.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/plugins/bootstrap-select2/select2.min.js" type="text/javascript" %}"></script>
    <script>
        var countries = {{COUNTRIES_DICT|safe}};

        $(document).ready(function() {
            var params_get = window.location.search.replace("?", "").split("&"),
              initial_params = {};

            for(var i=0; i < params_get.length; i++){
              param = params_get[i].split("=");
              param_name = param[0];
              param_value = param[1];
              initial_params[param_name] = param_value;
            }

            $(".table-hitos").dashboardTable("/tables/render/hitos-noneditable/"+initial_params['country_slug'], {
              title: '{% trans "Gráficas de Logros por País" %}',
                description: '{% trans "Durante la etapa de planificación, los equipos nacionales seleccionan los eventos trimestrales pertinentes para cada indicador de pago, creando una ruta crítica. Esta gráfica muestra el estado de los hitos trimestrales que contribuyen al éxito de los indicadores de pago. El verde significa que el hito se ha completado, el amarillo significa que está en curso y el rojo significa el hito está pendiente, o más allá de su fecha prevista de finalización. Esta gráfica se actualiza mensualmente."%}',
                url_save: "{% url 'save_milestone_data' %}",
                url_export: "/tables/render/export/hitos_y_avances/"+initial_params['country_slug']
            });

            var triangle_title = '{% trans "Estado de las Operaciones por País" %}';
            triangle_title = "[[COUNTRY]] - " + triangle_title;
            $(".graph-triangle-wrapper").graficoTrianguloPorPais('{% url "get_triangle_graph_countries" %}?country_slug='+initial_params['country_slug'], {title: triangle_title, alone: true});

            var country_disbursement = {{country_disbursement|safe}};
            var country_execution = {{country_execution|safe}};
            var tile_opts = 
              $(".tiles-container-disbursement").html("").dashboardTile(country_disbursement,
                                                                        {dv_money_format: true, title: countries[initial_params['country_slug']].name + ' Disbursement', tileSize:12 });
              $(".tiles-container-execution").html("").dashboardTile(country_execution,
                                                                     {dv_money_format: true, title: countries[initial_params['country_slug']].name + ' Execution', tileSize:12 });
            
           $("#map-goals").dashboardMap({{countries_map|safe}}, 
                                        {countryZoom: initial_params['country_slug'],
                                         panel: initial_params['country_slug']});


            $(".map-container").find('.icon-down').live('click', function(){
              $(this).removeClass('icon-down');
              $(this).addClass('icon-up');
              $(".map-container").find('.menu-country').addClass('closed');
            });

            $(".map-container").find('.icon-up').live('click', function(){
              $(this).removeClass('icon-up');
              $(this).addClass('icon-down');
              $(".map-container").find('.menu-country').removeClass('closed');
            });

            /*$(".table-operation-total-investment").dashboardTable("/tables/render/operation_total_investment/"+initial_params['country_slug'], {
              title: 'Total Investment Projected in '+countries[initial_params['country_slug']].name+' by SM2015 ',
                url_save: "{% url 'save_milestone_data' %}",
            });*/

            $(".table-country-risk-top").dashboardTable("/tables/render/country_risk_top/"+initial_params['country_slug'], {
              title: countries[initial_params['country_slug']].name+' - {% trans "Riesgos Principales" %} '
            });
            $(".table-country-risk-identification").dashboardTable("/tables/render/country_risk_identification/"+initial_params['country_slug'], {
              title: countries[initial_params['country_slug']].name+' - {% trans "Resumen de la Identificacion del riesgos" %} '
            });
        });
    </script>
{% endblock js_bottom %}

{% block css %}
    {{ block.super }}
    <link href="{% static "css/tables-custom.css" %}" rel="stylesheet" type="text/css"/>
    <style>
      .tiles-container-disbursement .span12 {
        margin-bottom: 20px;
      }
        .tiles .tiles-title {
            font-size: 18px;
            font-weight: lighter;
        }
        .tiles .tiles-title strong {
            font-weight: 600;
        }
        .tiles.yellow {
            background-color: #E0B500;
        }
      .list-selects {
        height: 200px;
        padding-top: 10px;
        overflow: auto;
      }

        .table-avances {}
        .table-avances .avances-header {
            background-color: #ECF0F2;
            border-bottom: 1px solid #DDDDDD;
            padding: 10px;
            text-align: right;
            width: 340px;
        }
        .table-avances .avances-value {
            border-bottom: 1px solid #EEEEEE;
            padding: 5px 20px;
        }

        .disbursement-table-header {
          background-color: #ECF0F2;
          border-left: 1px solid #E8EDF1;
          padding: 10px 5px !important;
          vertical-align: bottom !important;
        }

        .disbursement-table-cell {
          border: 1px solid #E8EDF1;
          color: #576475;
          font-size: 13px;
          padding: 10px 5px !important;
          vertical-align: top !important;
        }

        .disbursement-table-row {
          background-color: white;
        }
        .disbursement-table-row:hover {
          background-color: #E2E8EB;
        }

        .map-container {
          height: 600px;
        }
    </style>
{% endblock css %}

{% block content %}
<div class="map-container">
  <div id="map-goals"></div>
</div>

<div class="content">

    <div class="row-fluid">
      <div class="span6">
        <div class="grid simple">
          <div class="grid-title">
            <h4>{% trans "Objetivo de la Operación" %}</h4>
            <div class="tools"><a class="collapse" href="javascript:;"></a> <a class="remove" href="javascript:;"></a></div>
          </div>
          <div class="grid-body">
            <p>{{operation_infos.objectives_progress}}</p>
          </div>
        </div>
      </div>
      <div class="span6">	
        <div class="grid simple">
          <div class="grid-title">
            <h4>{% trans "Resultados Esperados" %}</h4>
            <div class="tools"><a class="collapse" href="javascript:;"></a> <a class="remove" href="javascript:;"></a></div>
          </div>
          <div class="grid-body clearfix">
            {{operation_infos.key_results_expected|linebreaks}}
          </div>
        </div>
      </div>  
    </div>

    <div class="table-operation-total-investment"></div>

    <div class="row-fluid graph-triangle-wrapper">
      <div class="span6">
        <div class="grid simple">
          <div class="grid-title">
            <h4>{% trans "Estado de las Operaciones por País" %}</h4>
            <div class="tools">
              <a class="showModalHelp" href="javascript:;">
                ?
                <div class="content">
                  <p>
                    {% trans "Está gráfica ilustra ejecución / valores reales y esperados / valores programados, lo que correspondiente porcentaje de avance financiero en la ejecución,porcentaje de avance físico en la ejecución, y el porcentaje de tiempo transcurrido desde la elegibilidad de la operación hasta la fecha en la que la información se ha actualizado. Los programas buscan reducir la cantidad de variación (espacios entre los triángulos) entre los valores previstos y los valores reales." %}
                  </p>
                </div>
              </a> 
              <a class="collapse" href="javascript:;"></a> <a class="reload" href="javascript:;"></a> <a class="remove" href="javascript:;"></a> 
            </div>
          </div>
          <div class="grid-body">
            <div class="row-fluid graph-triangle-container"></div>
          </div>
        </div>
      </div>
      <div class="span6">	
        <div class="grid simple">
          <div class="grid-title">
            <h4>{% trans "Desempeño de la Ejecución Financiera" %}</h4>
            <div class="tools">
              <a class="showModalHelp" href="javascript:;">
                ?
                <div class="content">
                  <p>
                    The Countries planned the financial execution and disbursements at the beginning of the operation. These figures display the planned financial execution/disbursement and the actual execution/disbursment for each country
                    <br />
                    Each box represents a country. The first number in the box is how much money the country has executed. The bar under this figure represents what percent of the total amount has been executed. Variance is included below the bar.  The color of the box represents variation: Green = 100 percentage variation; Yellow <= 99 percentage variation; Red <= 80 percentage variation.
                  </p>
                </div>
              </a> 
              <a class="collapse" href="javascript:;"></a> <a class="reload" href="javascript:;"></a> <a class="remove" href="javascript:;"></a> 
            </div>
          </div>
          <div class="grid-body clearfix">
            <div class="tiles-container-disbursement"></div>
            <div class="tiles-container-execution"></div>
          </div>
        </div>
      </div>  
    </div>

    <div class="table-country-operation"></div>

    <div class="table-hitos"></div>

    <div class="table-country-risk-identification"></div>

    <div class="table-country-risk-top"></div>
</div>
{% endblock %}
