{% load humanize %}
<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<p>
    <div><strong>División de Protección Social y Salud, SCL/SPH</strong></div>
    <div><strong>Iniciativa Salud Mesoamérica 2015, SM2015</strong></div>
    <div><strong>Conclusiones de la reunión realizada el: 3 de diciembre</strong></div>
</p>
<br />
<p>
    <div><strong>Operación:</strong> ES-G1001</div>
    <div><strong>Tipo de Reunión:</strong> Seguimiento Mensual de la Ejecución</div>
    <div><strong>Participantes:</strong> Luis Tejerina, Ferdinando Regalia, {{user.get_full_name}}</div>
</p>

<br />

{% for avance in avances %}
<table class="table-bordered">
    <caption><strong>AVANCE FISICO Y FINANCIERO</strong></caption>
    <tr>
        <th class="avances-header">Cual es la fecha en que la información que está registrando fue actualizada</th>
        <td class="avances-value">{{avance.fecha_de_actualizacion}}</td>
    </tr>
    <tr>
        <th class="avances-header">Avances Fiscos Planificados (Meta Ejecución)</th>
        <td class="avances-value editable text" name="avance_fisico_planificado">{{avance.avance_fisico_planificado}}%</td>
    </tr>
    <tr>
        <th class="avances-header">Avances Físicos reales (Avance en la ejecución real segun el PEP)</th>
        <td class="avances-value editable text" name="avance_fisico_real">{{avance.avance_fisico_real}}%</td>
    </tr>
    <tr>
        <th class="avances-header">Avances financieros planificados (Ejecución financiera planificados)</th>
        <td class="avances-value editable text" name="avance_financiero_planificado">{{avance.avance_financiero_planificado}}%</td>
    </tr>
    <tr>
        <th class="avances-header">Avances financieros actuales (Ejecución financiera real según el estados financieros del ejecutor hasta la fecha (%))</th>
        <td class="avances-value editable text" name="avance_financiero_actual">{{avance.avance_financiero_actual}}%</td>
    </tr>
    <tr>
        <th class="avances-header">Monto total desembolsado (BID a PAIS)</th>
        <td class="avances-value editable text" name="monto_desembolsado">${{avance.monto_desembolsado|intcomma}}</td>
    </tr>
</table>
{% endfor %}

<br />

<table class="table table-hover table-condensed table-bordered">
    <caption><strong>ESTADO DE LOS HITOS</strong></caption>
    <thead>
      <tr>
        <th class="column-name word">Indicador de Pago</th>
        <th class="column-name word">Hito</th>
        <th class="column-name">Trimestre</th>
        <th class="column-name">Audiencia</th>
        <th class="column-name">Estado Actual</th>
        <th class="column-name">Alerta/Notas</th>
        <th class="column-name">Recomendación</th>
        <th class="column-name">Acuerdo</th>
        <th class="column-name">Actividad en POA</th>
      </tr>
    </thead>
    <tbody>
      {% for hito in hitos %}
      <tr data-objid="{{hito.id}}">
        <td class="word" name="indicador_de_pago">{{hito.indicador_de_pago}}</td>
        <td class="word" name="hito">{{hito.hito}}</td>
        <td class="" name="trimestre">{{hito.trimestre}}</td>
        <td class="" name="audiencia">{{hito.audiencia.all|join:", "}}</td>
        <td class="editable select" name="estado_actual" data-options="{{hito.options_estados_actuais}}">{{hito.estado_actual.name}}</td>
        <td class="editable textarea" name="alerta_notas">{{hito.alerta_notas}}</td>
        <td class="editable textarea" name="recomendacion">{{hito.recomendacion}}</td>
        <td class="editable textarea" name="acuerdo">{{hito.acuerdo}}</td>
        <td class="editable text" name="actividad_en_poa">{{hito.actividad_en_poa}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
