{% load humanize %}
{% load i18n %}
<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<div data-objid="{{avance.id}}" data-model="AvanceFisicoFinanciero">
    <div class="span6">
        <table class="table-bordered">
            <tr>
              <th class="avances-header">{% trans "Cual es la fecha en que la información que está registrando fue actualizada" %}</th>
                <td class="avances-value {% if editable %}editable{% endif %} date" name="fecha_de_actualizacion">
                    {{avance.fecha_de_actualizacion}}
                </td>
            </tr>
            <tr>
              <th class="avances-header">{% trans "Avances Fisicos Planificados<br />(Meta Ejecución)" %}</th>
                <td class="avances-value {% if editable %}editable{% endif %} text" name="avance_fisico_planificado">{{avance.avance_fisico_planificado}}%</td>
            </tr>
            <tr>
              <th class="avances-header">{% trans "Avances Fisicos Reales<br />(Avance en la ejecución real segun el PEP)" %}</th>
                <td class="avances-value {% if editable %}editable{% endif %} text" name="avance_fisico_real">{{avance.avance_fisico_real}}%</td>
            </tr>
            <tr>
              <th class="avances-header">{% trans "Avances Financieros Planificados<br />(Ejecución financiera planificados)" %}</th>
                <td class="avances-value {% if editable %}editable{% endif %} text" name="avance_financiero_planificado">{{avance.avance_financiero_planificado}}%</td>
            </tr>
            <tr>
              <th class="avances-header">{% trans "Avances Financieros Reales<br />(Ejecución Financiera Final según la fecha del ejecutor)" %}</th>
                <td class="avances-value {% if editable %}editable{% endif %} text" name="avance_financiero_actual">{{avance.avance_financiero_actual}}%</td>
            </tr>
            <tr>
              <th class="avances-header">{% trans "Monto Total Desembolsado<br />(BID a PAIS)" %}</th>
                <td class="avances-value {% if editable %}editable{% endif %} text" name="monto_desembolsado">${{avance.monto_desembolsado|intcomma}}</td>
            </tr>
        </table>
    </div>
    <div class="span6">
        <table class="table-bordered">
            <tr>
                <th class="avances-header">{% trans "Monto Comprometido" %}</th>
                <td class="avances-value {% if editable %}editable{% endif %} text" name="monto_comprometido">${{avance.monto_comprometido|intcomma}}</td>
            </tr>
            <tr>
                <th class="avances-header">{% trans "Avances Fisicos Planificados (Meta Ejecución):<br />De La Linea De Base Original" %}</th>
                <td class="avances-value {% if editable %}editable{% endif %} text" name="avances_fisicos_original_programado">{{avance.avances_fisicos_original_programado}}%</td>
            </tr>
            <tr>
                <th class="avances-header">{% trans "Avances Financieros Planificados (Ejecución financiera planificados):<br />Del Linea De Base Original" %}</th>
                <td class="avances-value {% if editable %}editable{% endif %} text" name="avances_financieros_original_programado">{{avance.avances_financieros_original_programado|intcomma}}%</td>
            </tr>
            <tr>
                <th class="avances-header">{% trans "Alertas Temprana en General" %}</th>
                <td class="avances-value {% if editable %}editable{% endif %} textarea" name="alerta">{{avance.alerta}}</td>
            </tr>
            <tr>
                <th class="avances-header">{% trans "Recomendaciones" %}</th>
                <td class="avances-value {% if editable %}editable{% endif %} textarea" name="recomendacion">{{avance.recomendacion}}</td>
            </tr>
            <tr>
                <th class="avances-header">{% trans "Próximos eventos del Diálogos de Políticas" %}</th>
                <td class="avances-value {% if editable %}editable{% endif %} textarea" name="upcoming_policy_dialogue_events">{{avance.upcoming_policy_dialogue_events}}</td>
            </tr>
        </table>
    </div>
</div>
