<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<style>
    .column-name{
        text-transform: uppercase;
    }
</style>

<table class="table table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th class="column-name">Indicador de Pago SM2015</th>
            <th class="column-name">Indicator de Monitorero ISECH</th>
            <th class="column-name">Nivel</th>
            <th class="column-name">Nombre</th>
            {% for period in periods %}
            <th class="column-name">Numerador reportado por {{period}}</th>
            <th class="column-name">Denominador reportado por {{period}}</th>
            <th class="column-name">% {{period}}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for field in table %}
        <tr>
            <td data-objid="" {% if field.highlight %}style="background-color: #fafafa;font-weight:bold"{% endif %} data-model="CountryDetails" class="">{{field.pago.name}}</td>
            <td data-objid="" {% if field.highlight %}style="background-color: #fafafa;font-weight:bold"{% endif %} data-model="CountryDetails" class="">{{field.isech.name}}</td>
            <td data-objid="" {% if field.highlight %}style="background-color: #fafafa;font-weight:bold"{% endif %} data-model="CountryDetails" class="">{{field.level.name}}</td>
            <td data-objid="" {% if field.highlight %}style="background-color: #fafafa;font-weight:bold"{% endif %} data-model="CountryDetails" class="">{{field.location}}</td>
            {% for value in field.values %}
            <td data-objid="{{value.id}}" data-model="CountryDetailsValues" class="editable text number-value {% if field.id %}editable text{% endif %}" name="numerador_reportado">{{value.numerador_value}}</td>
            <td data-objid="{{value.id}}" data-model="CountryDetailsValues" class="editable text number-value {% if field.id %}editable text{% endif %}" name="denominador_reportado">{{value.denominador_value}}</td>
            <td class="number-value">{{value.percentage}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
