<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<style>
    .column-name{
        text-transform: uppercase;
    }
</style>

<table class="table table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th class="column-name first"></th>
            {% for period in periods %}
            <th class="column-name">{{period}}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for field in table %}
        <tr>
            <td data-objid="{{field.id}}" data-model="GrantsFinancesFields" class="editable text" name="name">{{field.name}}</td>
            {% for value in field.values %}
            <td data-objid="{{value.id}}" data-model="GrantsFinances" class="{% if value.value %}editable text{% endif %}" name="value">{{value.value}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td style="background-color: #fafafa;" class=""><strong>Total Expected</strong></td>
            <td style="background-color: #fafafa; text-align:right" class="" colspan="{{totals.periods}}">{{totals.expected}}</td>
        </tr>
        <tr>
            <td style="background-color: #fafafa;" class=""><strong>Total Real</strong></td>
            <td style="background-color: #fafafa; text-align:right" class="" colspan="{{totals.periods}}">{{totals.real}}</td>
        </tr>
    </tbody>
</table>
