<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<style>
    .column-name{
        text-transform: uppercase;
    }
</style>
<script>
    $().ready(function(){
        $(".number-value").each(function(){ $(this).on("change", function(){ $(".reload").click(); }) })
    });
</script>

<table class="table table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th class="column-name first"></th>
            {% for period in periods %}
            <th class="column-name">{{period}}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for field in table %}
        <tr>
            <td data-objid="{{field.id}}" {% if field.highlight %}style="background-color: #fafafa;font-weight:bold"{% endif %} data-model="GrantsFinancesFields" class="{% if field.id %}{% if editable %}editable{% endif %} text{% endif %}" name="name">{{field.name}}</td>
            {% for value in field.values %}
            <td data-objid="{{value.id}}" {% if field.highlight %}style="background-color: #fafafa;"{% endif %} data-model="GrantsFinances" class="number-value {% if field.id %}{% if editable %}editable{% endif %} text{% endif %}" name="value">{{value.value}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
