{% load i18n %}
<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<table class="table table-hover table-condensed table-bordered">
    <thead>
      <tr>
        <th class="column-name word">{% trans "Indicador de Pago" %}</th>
        <th class="column-name word">{% trans "Hito" %}</th>
        <th class="column-name">{% trans "Trimestre" %}</th>
        <th class="column-name">{% trans "Audiencia" %}</th>
        <th class="column-name">{% trans "Estado Actual" %}</th>
        <th class="column-name">{% trans "Alerta/Notas" %}</th>
        <th class="column-name">{% trans "Recomendación" %}</th>
        <th class="column-name">{% trans "Acuerdo" %}</th>
        <th class="column-name">{% trans "Actividad en POA" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for hito in hitos %}
      <tr data-objid="{{hito.id}}" data-model="Hito">
        <td class="word" name="indicador_de_pago">{{hito.indicador_de_pago}}</td>
        <td class="word" name="hito">{{hito.hito}}</td>
        <td class="" name="trimestre">{{hito.quarter.name}}</td>
        <td class="" name="audiencia">{{hito.audiencia.all|join:", "}}</td>
        <td class="{% if editable %}editable{% endif %} select" name="estado_actual" data-options="{{hito.options_estados_actuais}}">{{hito.estado_actual.name}}</td>
        <td class="{% if editable %}editable{% endif %} textarea" name="alerta_notas">{{hito.alerta_notas}}</td>
        <td class="{% if editable %}editable{% endif %} textarea" name="recomendacion">{{hito.recomendacion}}</td>
        <td class="{% if editable %}editable{% endif %} textarea" name="acuerdo">{{hito.acuerdo}}</td>
        <td class="{% if editable %}editable{% endif %} text" name="actividad_en_poa">{{hito.actividad_en_poa}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
