<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<table class="table table-hover table-condensed table-bordered">
    <thead>
      <tr>
        <th class="column-name word">Indicador de Pago</th>
        <th class="column-name word">Hito</th>
        <th class="column-name">Trimestre</th>
        <th class="column-name">Audiencia</th>
        <th class="column-name">Estado Actual</th>
        <th class="column-name">Alerta/Notas</th>
        <th class="column-name">Recomendación</th>
        <th class="column-name">Acuerdo</th>
        <th class="column-name">Actividad en POA</th>
      </tr>
    </thead>
    <tbody>
      {% for hito in hitos %}
      <tr data-objid="{{hito.id}}">
        <td class="word" name="indicador_de_pago">{{hito.indicador_de_pago}}</td>
        <td class="word" name="hito">{{hito.hito}}</td>
        <td class="" name="trimestre">{{hito.trimestre}}</td>
        <td class="" name="audiencia">{{hito.audiencia.all|join:", "}}</td>
        <td class="editable select" name="estado_actual" data-options="{{hito.options_estados_actuais}}">{{hito.estado_actual.name}}</td>
        <td class="editable textarea" name="alerta_notas">{{hito.alerta_notas}}</td>
        <td class="editable textarea" name="recomendacion">{{hito.recomendacion}}</td>
        <td class="editable textarea" name="acuerdo">{{hito.acuerdo}}</td>
        <td class="editable text" name="actividad_en_poa">{{hito.actividad_en_poa}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
