<style>
  .bg-completed { background-color: #32FF33; }
  .bg-progress { background-color: #FEFF00; }
</style>
<table class="table table-hover table-condensed table-bordered">
    <thead>
      <tr>
        <th class="column-name">Id</th>
        <th class="column-name">Objective</th>
        <th class="column-name">Coordination Unit Milestone</th>
        <th class="column-name">Third</th>
        <th class="column-name">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for milestone in ucmilestones %}
      <tr data-objid="{{milestone.id}}" data-model="UcMilestone">
        <td>{{ forloop.counter }}</td>
        <td class="" name="objective">{{milestone.objective}}</td>
        <td class="" name="coordination_unit_milestone">{{milestone.coordination_unit_milestone}}</td>
        <td class="" name="quarter">{{milestone.quarter}}</td>
        <td class="
          {% ifequal milestone.status|lower 'in progress' %}bg-progress{% endifequal %}
          {% ifequal milestone.status|lower 'en proceso' %}bg-progress{% endifequal %}
          {% ifequal milestone.status|lower 'completed' %}bg-completed{% endifequal %}
          {% ifequal milestone.status|lower 'finalizado' %}bg-completed{% endifequal %}
          " name="status">{{milestone.status}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
