{% load i18n %}
<style>
  .bg-completed { background-color: #32FF33; }
  .bg-progress { background-color: #FEFF00; }
  .bg-pending { background-color: #FF9999 }
</style>
<table class="table table-hover table-condensed table-bordered">
    <thead>
      <tr>
        <th class="column-name">Id</th>
        <th class="column-name">{% trans "Objectivo" %}</th>
        <th class="column-name">{% trans "Hito UC" %}</th>
        <th class="column-name">{% trans "Trimestre" %}</th>
        <th class="column-name">{% trans "Estatus" %}</th>
        <th class="column-name">{% trans "Observaciones" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for milestone in ucmilestones %}
      <tr data-objid="{{milestone.id}}" data-model="UcMilestone">
        <td>{{ forloop.counter }}</td>
        <td class="" name="objective">{{milestone.objective}}</td>
        <td class="" name="coordination_unit_milestone">{{milestone.coordination_unit_milestone}}</td>
        <td class="" name="quarter">{{milestone.quarter}}</td>
        <td class="
          {% ifequal milestone.status|lower 'in progress' %}bg-progress{% endifequal %}
          {% ifequal milestone.status|lower 'en proceso' %}bg-progress{% endifequal %}
          {% ifequal milestone.status|lower 'completed' %}bg-completed{% endifequal %}
          {% ifequal milestone.status|lower 'finalizado' %}bg-completed{% endifequal %}
          {% ifequal milestone.status|lower 'pending' %}bg-pending{% endifequal %}
          {% ifequal milestone.status|lower 'pendiente' %}bg-pending{% endifequal %}
          " name="status">{{milestone.status}}</td>
        <td class="text" name="observation">{% if milestone.observation %}{{milestone.observation}}{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
