{% load i18n %}
<table class="table table-hover table-condensed table-bordered">
    <thead>
      <tr>
        <th class="column-name">{% trans "Objectivo" %}</th>
        <th class="column-name">{% trans "Hito UC" %}</th>
        <th class="column-name">{% trans "Trimestre" %}</th>
        <th class="column-name">{% trans "Estatus" %}</th>
        <th class="column-name">{% trans "Observaciones" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for milestone in ucmilestones %}
      <tr data-objid="{{milestone.id}}" data-model="UcMilestone">
        <td class="{% if editable %}editable{% endif %} text" name="objective">{{milestone.objective}}</td>
        <td class="{% if editable %}editable{% endif %} text" name="coordination_unit_milestone">{{milestone.coordination_unit_milestone}}</td>
        <td class="{% if editable %}editable{% endif %} text" name="quarter">{{milestone.quarter}}</td>
        <td class="{% if editable %}editable{% endif %} text" name="status">{{milestone.status}}</td>
        <td class="{% if editable %}editable{% endif %} text" name="observation">{{milestone.observation}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
